.icon-server {
  background-image: url('{{ url_for('NODE-server.static', filename='img/server.svg') }}') !important;
  background-repeat: no-repeat;
  background-size: 20px !important;
  align-content: center;
  vertical-align: middle;
  height: 1.3em;
}

.icon-server-not-connected {
  background-image: url('{{ url_for('NODE-server.static', filename='img/serverbad.svg') }}') !important;
  background-repeat: no-repeat;
  background-size: 20px !important;
  align-content: center;
  vertical-align: middle;
  height: 1.3em;
}
