{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}

{% block css_link %}
<link type="text/css" rel="stylesheet" href="{{ url_for('browser.browser_css')}}"/>
{% endblock %}
{% block body %}
<style>
    body {padding: 0px;}
    {% if is_desktop_mode and is_linux %}
    .sql-editor-busy-icon.fa-pulse{-webkit-animation: none;}
    {% endif %}
</style>
<div style="width: 100%; height: 100%;" id="psql-terminal" class="psql_terminal"></div>
{% endblock %}


{% block init_script %}
require(
    ['sources/generated/psql_tool'],
    function(pgBrowser) {
        <!-- Call the PSQL mount-->
        self.pgAdmin.Browser.psql.psql_mount({
            "is_enable": '{{is_enable}}',
            "sid": '{{sid}}',
            "db":'{{db|safe}}',
            "server_type": '{{server_type}}',
            "role": '{{role|safe}}',
            "platform": '{{platform}}',
            "o_db_name": '{{o_db_name|safe}}'
        })

    });
{% endblock %}
