*.autosave
*.db
*.diff
*.patch
*.psp
*.pyc
*.pyo
*.swo
*.swp
.DS_Store
.idea
.vscode
/dist
/docker-build
/mac-build
/pip-build
/src-build
/win-build
_build
pgadmin4.log
pkg/win32/installer.iss
pkg/mac/codesign.conf
pkg/mac/framework.conf
web/config_local.py
web/geckodriver.log
web/regression/test_config.json
node_modules/
web/pgAdmin/static/js/generated
web/pgadmin/static/js/generated
web/yarn-error.log
