*.autosave
*.db
*.diff
*.o
*.patch
*.psp
*.pyc
*.pyo
*.swo
*.swp
.DS_Store
.idea
.vscode
/dist
/docker-build
/mac-build
/pip-build
/src-build
/win-build
_build
build-*
pgadmin4.log
pkg/win32/installer.iss
pkg/mac/codesign.conf
pkg/mac/framework.conf
runtime/.qmake.cache
runtime/.qmake.stash
runtime/Makefile
runtime/Makefile.Debug
runtime/Makefile.Release
runtime/moc_TrayIcon.cpp
runtime/moc_Server.cpp
runtime/pgAdmin4.app/
runtime/pgAdmin4.pro.user*
runtime/pgAdmin4_resource.rc
runtime/release/
runtime/ui_BrowserWindow.h
web/config_local.py
web/geckodriver.log
web/regression/test_config.json
node_modules/
web/pgAdmin/static/js/generated
web/pgadmin/static/js/generated
web/yarn-error.log
/web/cacert.pem
