###############################################################################
#
# IMPORTANT:
#
# If runtime or build time dependencies are changed in this file, the committer
# *must* ensure the DEB and RPM package maintainers are informed as soon as
# possible.
#
###############################################################################


##############################################################################
# NOTE: Any requirements with environment specifiers must be explicitly added
#       to pkg/pip/setup_pip.py (in extras_require), otherwise they will be
#       ignored when building a PIP Wheel.
##############################################################################
blinker==1.4
Flask==1.0.2
Werkzeug>=0.15.0
Flask-Gravatar==0.5.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.4.0
Flask-Principal==0.4.0
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
Flask-Compress==1.4.0
passlib==1.7.2
pytz==2018.9
simplejson==3.16.0
six>=1.12.0
speaklater==1.3
sqlparse==0.2.4
WTForms==2.2.1
Flask-Paranoid==0.2.0
psutil==5.5.1
psycopg2>=2.8
python-dateutil>=2.8.0
SQLAlchemy>=1.3.13
Flask-Security-Too>=3.0.0
sshtunnel>=0.1.4
