###############################################################################
#
# IMPORTANT:
#
# If runtime or build time dependencies are changed in this file, the committer
# *must* ensure the DEB and RPM package maintainers are informed as soon as
# possible.
#
###############################################################################

Flask==1.*
Flask-Gravatar==0.*
Flask-Login==0.*
Flask-Mail==0.*
Flask-Migrate==2.*
Flask-SQLAlchemy==2.*
Flask-WTF==0.*
Flask-Compress==1.*
passlib==1.*
pytz==2021.*
simplejson==3.*
six==1.*
speaklater3==1.*
sqlparse==0.*
WTForms==2.*
Flask-Paranoid==0.*
psutil==5.*
psycopg2==2.8.*
python-dateutil==2.*
SQLAlchemy==1.3.*
itsdangerous<=1.1.0
Flask-Security-Too==4.*
bcrypt==3.*
cryptography==3.*
sshtunnel==0.*
ldap3==2.*
Flask-BabelEx==0.*
gssapi==1.6.*
flask-socketio>=5.0.1
httpagentparser==1.9.*
user-agents==2.2.0
pywinpty==1.1.1; sys_platform=="win32"
Authlib==0.15.*
requests==2.25.*

# NOTE: This should be updated to the first release of eventlet > 0.32.0 ASAP!
git+git://github.com/eventlet/eventlet.git@15d3c2477510229e1b49c60fccfde5ffe94b2a76; python_version >= '3.10'
eventlet==0.31.0; python_version < '3.10'
dnspython==2.1.*; python_version >= '3.10'