$white: #fff;
$black: #000;

$color-bg: #212121;
$color-fg: #d4d4d4;

$color-primary: #234d6e;
$color-primary-fg: $color-fg;
$color-primary-light: #323E43;
$color-primary-light-fg: $color-primary-fg;

$color-secondary: #6b6b6b;

$color-danger: #da6758;
$color-danger-fg: $white;
$color-danger-light: #914649;
$color-danger-lighter: #212121;

$color-success: #26852B;
$color-success-fg: $black;
$color-success-light: #2B472C;

$color-success-disabled-fg: $color-fg;
$color-success-disabled-bg: $color-success;

$color-warning: #eea236;
$color-warning-fg: $black;
$color-warning-light: #b18d5a;

$color-gray-dark: #212121;
$color-gray: #2e2e2e;
$color-gray-light: #303030;
$color-gray-lighter: #424242;

$color-brand: #1b71b5;

$border-color: #4a4a4a;
$shadow-base-color: #111111;

$text-muted: #8A8A8A;

$table-hover-color: #fff;

$input-bg: $color-bg;
$input-color: $color-fg;
$input-border-color: #6b6b6b;
$input-disabled-bg: inherit;

$popover-bg: $color-bg;
$popover-body-color: $color-fg;

$active-color: $color-fg;

$header-bg: $color-gray-lighter;

$alert-primary-bg: $color-bg;
$alert-primary-color: #50B0F0;
$alert-danger-bg: $color-bg;
$alert-danger-color: $color-danger;
$alert-success-bg: $color-bg;
$alert-success-color: $color-success;
$alert-warning-bg: $color-warning;
$alert-warning-color: $color-bg;

$alert-header-fg: $color-fg;

$table-bg: $color-gray-lighter;
// SET sql text selection background color.
$sql-editor-selection-bg: #536270;

$color-editor-fg: $white;
$color-editor-keyword: #db7c74;
$color-editor-number: #7fcc5c;
$color-editor-string: #e4e487;
$color-editor-variable: #7dc9f1;
$color-editor-variable-2: #7dc9f1;
$color-editor-builtin: #e4e487;
$color-editor-comment: #7fcc5c;
$color-editor-bracket: #d6aaaa;
$color-editor-operator: #d6aaaa;
$color-editor-foldmarker: #0000FF !default;
$color-editor-activeline: #323e43 !default;
$color-editor-activeline-light: $color-editor-activeline;
$color-editor-activeline-border-color: none;

$login-page-background: $color-bg;

$explain-sev-2-bg: #ded17e;
$explain-sev-3-bg: #824d18;
$explain-sev-4-bg: #880000;
$explain-sev-3-color: $color-fg;
$explain-sev-4-color: $color-fg;
$explain-sev-2-color: #212529;

$negative-bg: $color-bg;

$scrollbar-base-color: #616161;

$loader-icon : url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 38 38' style='enable-background:new 0 0 38 38;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:none;stroke:%23ebeef3;stroke-width:2;%7d .st1%7bfill:none;stroke:%2340617d;stroke-width:2;%7d %3c/style%3e%3cg%3e%3cg transform='translate(1 1)'%3e%3ccircle class='st0' cx='18' cy='18' r='18'/%3e%3cpath class='st1' d='M36,18c0-9.9-8.1-18-18-18 '%3e%3canimateTransform accumulate='none' additive='replace' attributeName='transform' calcMode='linear' dur='0.7s' fill='remove' from='0 18 18' repeatCount='indefinite' restart='always' to='360 18 18' type='rotate'%3e%3c/animateTransform%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e ") !default;
$loader-icon-small: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 38 38' style='enable-background:new 0 0 38 38;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23EBEEF3;stroke-width:5;%7D .st1%7Bfill:none;stroke:%2340617d;stroke-width:5;%7D%0A%3C/style%3E%3Cg%3E%3Cg transform='translate(1 1)'%3E%3Ccircle class='st0' cx='18' cy='18' r='16'/%3E%3Cpath class='st1' d='M34,18c0-8.8-7.2-16-16-16 '%3E%3CanimateTransform accumulate='none' additive='replace' attributeName='transform' calcMode='linear' dur='0.7s' fill='remove' from='0 18 18' repeatCount='indefinite' restart='always' to='360 18 18' type='rotate'%3E%3C/animateTransform%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") !default;

$schemadiff-diff-row-color: #807a48 !default;
$schemadiff-source-row-color: #402025 !default;
$schemadiff-target-row-color: #6b5438 !default;

$btn-secondary-fg: $white;
$btn-secondary-border-hover-bg: $color-gray-light;
$btn-secondary-hover-fg: $white;

$card-header-bg: $color-gray-lighter;
$card-header-fg: $color-fg;
$card-header-border-color: $border-color;


$btn-primary-icon-bg: $color-secondary;
$btn-primary-icon-fg: $white;
$btn-primary-icon-hover-fg: $white;
$btn-primary-icon-hover-bg: $color-gray-light;
$btn-primary-icon-border-color: $color-gray;
$btn-primary-icon-border-disable-bg: $color-gray;
$btn-primary-icon-disable-fg: $white;
$btn-primary-icon-disable-bg: $color-secondary;

$btn-ternary-disabled-fg: $color-fg;
$color-success-hover-fg: $color-fg;

$datagrid-selected-color: $color-primary-fg;

$span-text-color: #9D9FA1 !default;
$span-text-color-hover: $white !default;
$quick-search-a-text-color: $white !default;
$quick-search-info-icon: #8A8A8A !default;

/* ERD */
$erd-row-padding: 0.25rem;
$erd-node-border-color: $border-color;
$erd-canvas-bg: $color-gray-light;
$erd-canvas-grid: #444952;
$erd-link-color: $color-fg;
$erd-link-selected-color: $color-fg;

// psql tool variables
$psql-background: $color-bg;
$psql-foreground: $color-fg;
$psql-cursor: $color-fg;
$psql-cursorAccent: $color-fg;
$psql-selection: #d6effc;
