.icon-pga_jobstep {
  background-image: url('{{ url_for('NODE-pga_jobstep.static', filename='img/pga_jobstep.svg') }}') !important;
  background-repeat: no-repeat;
  background-size: 20px !important;
  align-content: center;
  vertical-align: middle;
  height: 1.3em;
}

.icon-pga_jobstep-disabled {
  background-image: url('{{ url_for('NODE-pga_jobstep.static', filename='img/pga_jobstep-disabled.svg') }}') !important;
  background-repeat: no-repeat;
  background-size: 20px !important;
  align-content: center;
  vertical-align: middle;
  height: 1.3em;
}

.icon-coll-pga_jobstep {
  background-image: url('{{ url_for('NODE-pga_jobstep.static', filename='img/coll-pga_jobstep.svg') }}') !important;
  background-repeat: no-repeat;
  background-size: 20px !important;
  align-content: center;
  vertical-align: middle;
  height: 1.3em;
}
