.qmake.cache
.qmake.stash
Makefile
moc_predefs.h
moc_BrowserWindow.cpp
moc_ConfigWindow.cpp
moc_LogWindow.cpp
moc_Server.cpp
moc_TabWindow.cpp
moc_WebViewWindow.cpp
pgAdmin4
pgAdmin4.app/
pgAdmin4.pro.user*
qrc_pgAdmin4.cpp
ui_BrowserWindow.h
ui_ConfigWindow.h
ui_LogWindow.h
object_script.*
