.browser-tab-bar {
    padding-left: 5px;
    padding-top: 5px;
    background-color: $color-gray-lighter;
}

code,
kbd,
pre,
samp,
.CodeMirror pre {
  font-family: $font-family-editor;
}

.sql-editor-grid-container {
  font-family: $font-family-primary !important;
}

.select2-btn-container {
    padding: 3px 0px;
    background-color: $color-primary;
    margin-bottom: 3px;
}

#pg-spinner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: $color-bg-inverse;
  opacity: 0.6;
  z-index: 1056;
}

#pg-spinner .pg-sp-icon {
  font-size: 50px;
  text-align: center;
  color: $color-gray-light;
}

#pg-spinner .pg-sp-text {
  font-size: 20px;
  text-align: center;
  color: $color-fg-inverse;
}
