#main-editor_panel {
  position: absolute;
  left: 0;
  right: 0;
  top : 0;
  bottom: 0;
}

.sql-editor {
  position: absolute;
  left: 0;
  right: 0;
  top : 0;
  bottom: 0;
}

.filter-container .CodeMirror-scroll {
  min-height: 120px;
}

.filter-container .sql-textarea{
  box-shadow: 0.1px 0.1px 3px #000;
  margin-bottom: 5px;
}

#filter .btn-group {
  margin-right: 2px;
  float: right;
}

#filter .btn-group > button {
  padding: 3px;
}

#filter .btn-group .btn-primary {
  margin: auto !important;
}

.has-select-all table thead tr th:nth-child(1),
.has-select-all table tbody tr td:nth-child(1) {
  width: 35px !important;
  max-width: 35px !important;
  min-width: 35px !important;
}
.sql-status-cell {
  max-width: 30px;
}

.btn-circle {
  width: 16px;
  height: 16px;
  text-align: center;
  padding: 0;
  font-size: 10px;
  line-height: 1.428571429;
  border-radius: 10px;
  cursor: auto;
}

.visibility-hidden {
  visibility: hidden;
}

.sql-editor-mark {
  border-bottom: 2px dotted red;
}

.CodeMirror {
  min-height: 100%;
  height: 100%;
}

#output-panel {
  height: 100% !important;
}

.sql-editor-explain {
  height: 100%;
  width: 100%;
  overflow: auto;
}


.sqleditor-hint {
  padding-left: 20px;
}

.CodeMirror-hint .fa::before {
  padding-right: 7px;
}

h2 {
  font-size: 10pt;
  border-bottom: 1px dotted gray;
}

ul {
  margin-left: 0;
  padding: 0;
  cursor: default;
}

li {
  padding: 0 0 0 0px;
  list-style: none;
  margin: 0;
}

#datagrid {
  background: white;
  outline: 0;
  font-size: 9pt;
}

#datagrid .slick-header-column.ui-state-default {
    height: 32px !important;
}

#datagrid .grid-header label {
  display: inline-block;
  font-weight: bold;
  margin: auto auto auto 6px;
}

.grid-header .ui-icon {
  margin: 4px 4px auto 6px;
  background-color: transparent;
  border-color: transparent;
}

.slick-row .cell-actions {
  text-align: left;
}

/* Slick.Editors.Text, Slick.Editors.Date */
#datagrid .slick-header > input.editor-text {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  padding: 0;
}

/* Slick.Editors.Checkbox */
#datagrid .slick-header > input.editor-checkbox {
  margin: 0;
  height: 100%;
  padding: 0;
  border: 0;
}

.slick-row.selected .cell-selection {
  background-color: transparent; /* show default selected row background */
}

#datagrid .slick-header .ui-state-default,
#datagrid .slick-header .ui-widget-content.ui-state-default,
#datagrid .slick-header .ui-widget-header .ui-state-default {
  background: none;
}

#datagrid .slick-header .slick-header-column .column-name {
  font-weight: bold;
  display: block;
}

.column-description {
  display: table-cell;
}

.long_text_editor {
  margin-left: 5px;
  font-size: 12px !important;
  padding: 1px 7px;
}

/* Slick.Editors.Text, Slick.Editors.Date */
input.editor-text {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  padding: 0;
}

/* Slick.Editors.Text, Slick.Editors.Date */
textarea.editor-text {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  padding: 0;
}

/* Slick.Editors.Checkbox */
input.editor-checkbox {
  margin: 0;
  height: 100%;
  padding: 0;
  border: 0;
}

/* remove outlined border on focus */
input.editor-checkbox:focus {
  outline: none;
}

.slick-cell span[data-cell-type="row-header-selector"] {
  display: block;
  text-align: center;
}

/*
  SlickGrid, To fix the issue of width misalignment between Column Header &
  actual Column in Mozilla Firefox browser
  Ref: https://github.com/mleibman/SlickGrid/issues/742
*/
.slickgrid, .slickgrid *, .slick-header-column {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
}

.select-all-icon {
  margin-left: 9px;
  margin-right: 4px;
  vertical-align: bottom;
  position: absolute;
  bottom: 4px;
  right: 0;
}

/* Style for text editor */
.pg_buttons {
  text-align:right;
}

#datagrid .slick-row .slick-cell {
  white-space: pre;
}

.connection_status {
  font-size: 1rem;
  width: 40px;
}

.icon-query-tool-connected:before {
  font-icon: url('../img/connect.svg');
}

.icon-query-tool-disconnected:before {
  font-icon: url('../img/disconnect.svg');
}

.icon-commit:before {
  font-icon: url('../img/commit.svg');
}

.icon-rollback:before {
  font-icon: url('../img/rollback.svg');
}

.icon-save-data-changes:before {
  font-icon: url('../img/save_data_changes.svg');
}

.icon-view-data:before {
  font-icon: url('../img/view_data.svg');
}

.ajs-body .warn-header {
  font-size: 13px;
  font-weight: bold;
  line-height: 3em;
}

.ajs-body .warn-body {
  font-size: 13px;
}

.ajs-body .warn-footer {
  font-size: 13px;
  line-height: 3em;
}

/* For Filter status bar */
.data_sorting_dialog .pg-prop-status-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.data_sorting_dialog .CodeMirror-gutter-wrapper {
  left: -30px !important;
}

.data_sorting_dialog .CodeMirror-gutters {
  left: 0px !important;
}

.data_sorting_dialog .custom_height_css_class {
  height: 100px;
}

.data_sorting_dialog .data_sorting {
  padding: 10px 0px;
}

.editor-title {
  width:100%;
}

.connection-status-hide {
  display: none !important;
}

/* For geometry data viewer panel */
.sql-editor-geometry-viewer{
  width: 100%;
  height: 100%;
}

.geometry-viewer-container {
  width: 100%;
  height: 100%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAANElEQVQoU2O8e/fuf2VlZUYGLAAkB5bApggmBteJrAiZjWI0SAJkIrKVxCvAawVeRxLyJgB+Ajc1cwux9wAAAABJRU5ErkJggg==);
  /* Let's keep the background as fff irrespective of theme
   * make geometry viewer look clean
   */
  background-color: #fff;
 }


/* For geometry column button */
.div-view-geometry-column, .editable-column-header-icon {
  float: right;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  padding-right: 6px;
}

/* For leaflet popup */
.leaflet-popup-content-wrapper {
  border-radius: 2px;
}

.leaflet-popup-content {
  margin: 5px;
  padding: 10px 10px 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* For geometry viewer property table */
.view-geometry-property-table {
  table-layout: fixed;
  white-space: nowrap;
  padding: 0;
}

.view-geometry-property-table th {
  overflow: hidden;
  text-overflow: ellipsis;
}

.view-geometry-property-table td {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* For geometry viewer info control */
.geometry-viewer-info-control {
  padding: 5px;
  background: white;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  border-radius: 2px;
}

.geometry-viewer-info-control i{
  margin: 0 0 0 4px;
}

.hide-vertical-scrollbar {
  overflow-y: hidden;
}
