.icon-compare:before {
  font-size: 1.3em !important;
}

.icon-script {
  display: inline-block;
  align-content: center;
  vertical-align: middle;
  height: 18px;
  width: 18px;
  background-size: 20px !important;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-image: url('../img/script.svg') !important;
}

.really-hidden {
  display: none !important;
}

#schema-diff-header {
  padding: 0.75rem 0.7rem;
}

#schema-diff-header .control-label {
  width: 120px !important;
  padding: 5px 5px !important;
}

#schema-diff-grid .slick-header-column.ui-state-default {
    height: 32px !important;
    line-height: 25px !important;
}

#schema-diff-grid .grid-header label {
  display: inline-block;
  font-weight: bold;
  margin: auto auto auto 6px;
}

.grid-header .ui-icon {
  margin: 4px 4px auto 6px;
  background-color: transparent;
  border-color: transparent;
}

.slick-row .cell-actions {
  text-align: left;
}

/* Slick.Editors.Text, Slick.Editors.Date */
#schema-diff-grid .slick-header > input.editor-text {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  padding: 0;
}

/* Slick.Editors.Checkbox */
#schema-diff-grid .slick-header > input.editor-checkbox {
  margin: 0;
  height: 100%;
  padding: 0;
  border: 0;
}

.slick-row.selected .cell-selection {
  background-color: transparent; /* show default selected row background */
}

#schema-diff-grid .slick-header .ui-state-default,
#schema-diff-grid .slick-header .ui-widget-content.ui-state-default,
#schema-diff-grid .slick-header .ui-widget-header .ui-state-default {
  background: none;
}

#schema-diff-grid .slick-header .slick-header-column {
  font-weight: bold;
  display: block;
}

.slick-group-toggle.collapsed, .slick-group-toggle.expanded {
  background: none !important;
  width: 20px;
}

.slick-group-toggle {
  margin-right: 0px !important;
  height: 11px !important;
}

#schema-diff-ddl-comp .badge .caret {
    display: inline-block;
    margin-left: 2px;
    margin-right: 4px;
    width: 0.7rem;
}

#schema-diff-ddl-comp .badge {
  font-size: inherit;
  padding: 7px;
}

#schema-diff-ddl-comp .accordian-group {
  padding: 0px;
}

#ddl_comp_fetching_data.pg-sp-container {
  height: 100%;
  bottom: 10px;

  .pg-sp-content {
    position: absolute;
    width: 100%;
  }
}

.ddl-copy {
  z-index: 10;
  position: absolute;
  right: 1px;
  top: 1px;
}

#schema-diff-grid .pg-panel-message {
  font-size: 0.875rem;
}


#schema-diff-ddl-comp .sql_field_layout {
  overflow: auto !important;
  height: 100%;
}

#schema-diff-ddl-comp .source_ddl, #schema-diff-ddl-comp .target_ddl, #schema-diff-ddl-comp .diff_ddl {
  height: 300px;
  overflow: hidden;
}

.target-buttons {
  flex-wrap: wrap;
  max-width: 40% !important;
}

.slick-cell .ml-2 {
  margin-left: 2rem !important;
}

.slick-cell .ml-3 {
  margin-left: 3rem !important;
}
