
.ajs-bg-bgprocess .col-xs-12 {
  padding-right: 5px;
  padding-left: 5px;
}

.ajs-bg-bgprocess > .pg-bg-bgprocess > .pg-bg-status {
  padding: 2px;
  margin: 0px 5px;
  text-align: center;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.pg-bg-process-logs {
  width: 100%;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

ol.pg-bg-process-logs {
  height: 100%;
  overflow: auto;
  width: 100%;
}

.pg-panel-content .bg-process-stats p{
  display: inline;
  padding-left: 5px;
  margin-bottom: 0;
  font-size: 13px;
}

.pg-panel-content .bg-process-footer p {
  display: inline;
  padding-left: 5px;
  font-size: 13px;
}

.bg-process-footer .bg-process-status {
  padding-left: 0;
}

.bg-process-footer .bg-process-exec-time {
  padding-right: 0;
}

.pg-bg-bgprocess .ajs-commands {
  right: -13px;
  top: 2px;
  opacity: 0.5;
}

.pg-bg-bgprocess:hover .bg-close {
  opacity: 0.95;
}
