.icon-coll-{{node_type}} {
  background-image: url('{{ url_for('NODE-%s.static' % node_type, filename='img/coll-%s.svg' % node_type )}}') !important;
  background-repeat: no-repeat;
  background-size: 20px !important;
  align-content: center;
  vertical-align: middle;
  height: 1.3em;
}
