/* Overrides/fixes for pgAdmin specific styling */

/* Ensure simple forms don't hit the top of the screen */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.app-icon {
    vertical-align: middle;
    font-size: 25px;
}

/* Use the full width of the screen */
.container {
    width: 100% !important;
}
    
/* Restyle the Alertify dialogs */
.alertify .ajs-dialog {
    border: 0px solid rgba(0,0,0,.2);
}

.alertify .ajs-header {
    background-color: #428bca;
    color: #fff;
}

.alertify .ajs-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.alertify .ajs-commands button.ajs-maximize {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAK0lEQVQY02P8//8/AzGABUoTUs3IwkAkIEshIw41/8k2kfoK/xOjkJGQiQBkfAYjQxwwQgAAAABJRU5ErkJggg==) !important;
}

.alertify.ajs-modeless.ajs-pinnable .ajs-commands button.ajs-pin {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAArrAAAK6wGCiw1aAAAANElEQVQY02P8//8/AxJA4UABIwMDAwMLLgl0TdgUYgWDROF/HD7/z8DAwMiCxbdwSdq6EQDM+gkiVH1IsgAAAABJRU5ErkJggg==) !important;
}

.alertify .ajs-commands button.ajs-close {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAVElEQVQY05WQuQ0AMQgEB8lN0H9vdhnj4B7ZJwfcJkjsImBCpaIGMMYQIDNjNbe+Su9d1bsee5yM0+AbXMPfkHrdWNKv1ZVn2oJiw5OZ8eABiCrwCW8QwRIof5qAAAAAAElFTkSuQmCC) !important;
}

/* iFrames should have no border */
iframe {
    border-width: 0;
}

/* Ensure the codemirror editor displays full height gutters when resized */
.CodeMirror, .CodeMirror-gutters {
    height: 100% !important; 
} 

/* Padding for the treeview */
.browser-browser-pane {
    padding-left: 0;
}

/* Alert info panel */
.alert-info-panel {
    border: 2px solid #a1a1a1;
    margin-top: 2em;
    padding: 5px 5px; 
    background: #dddddd;
    border-radius: 5px;
    height: 8em;
    overflow: scroll;
}

/* Prevent tree items wrapping */
.aciTree .aciTreeItem {
    white-space: nowrap !important;
}

/* Disabled menu items */
.mnu-disabled {
    color: #999999 !important;
}

/*
 * Bootstrap 3 remove submenus as they don't work overly well on Mobile. The 
 * following CSS adds them back in - for our purposes they actually work fine
 * on Mobile and are perfectly responsive
 */
.dropdown-submenu {
    position:relative;
}

.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}

.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}

.dropdown-submenu.pull-left {
    float:none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.navbar-inverse > li > a,
.navbar-inverse .navbar-nav > li > a {
    color: #CACACA;
}

.navbar-inverse .navbar-brand {
    color: #009DCF;
}

.dropdown-menu > hr {
    margin-top: 0;
    margin-bottom: 0;
}

.dropdown-menu > li > a > i {
    margin-left: -17px;
}

.dropdown-menu > li > a > span {
    padding-left: 3px;
}

.dropdown-menu > li > a > .has-icon {
    padding-left: 0px;
}

.form-group fieldset {
    background-color: #F2F2F2;
    padding: 0px 0px 0px 5px;
    border-width: 1px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    border-color: #DDD;
}

.form-group legend {
    padding: 0.1em 0.5em;
    margin-bottom: 0px;
    margin-left: 0;
    text-align: left;
    width: 95%;
    font-size: 105%;
}

.form-group .fieldset-content {
    width: 100%;
}

.obj_properties .backform-tab {
    width: 100%;
}

.backform-tab .tab-pane {
    padding: 1em;
}

.form-group fieldset .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    margin-top: -2px;
    vertical-align: middle;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.form-group fieldset .collapsed .caret {
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid;
}

.pgadmin-control {
    padding: 0px 15px 5px 15px;
    margin-bottom: 0px;
    display: inline-block;
    height: 30px;
}

.obj_properties {
    padding: 0px;
}

.obj_properties .pgadmin-control .uneditable-input {
    border: 0px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    background-color: transparent !important;
    height: 20px;
    padding: 0px;
    margin-top: 2px;
    vertical-align: middle;
}

.obj_properties .set-group {
    margin-bottom: 10px;
}

.pgadmin-control-group {
    margin: 0px;
    padding: 1px 0px;
}

.fieldset-content .pgadmin-control-group:nth-child(even): {
    background-color: #FF0000;
}

.control-label {
    min-width: 250px;
    margin: 0px;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    display: inline-block;
    vertical-align: middle;
}

.pgadmin-controls {
    min-width: 290px;
    padding-right: 3px;
    padding-left: 3px;
}

.obj_properties fieldset > div > .pgadmin-control-group > label {
    height: 30px;
}

.obj_properties fieldset > .fieldset-content {
    border-radius: 8px;
    padding: 12px 8px;
    margin: 0px;
    border-color: darkolivegreen;
    border-width: 1.5px;
    border-style: double;
    background-color: #F2F2F2;
}

.obj_properties .badge {
    display: block;
    text-align: left;
    cursor: pointer;
    margin-bottom: 1px;
}

.obj_properties .badge .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    margin-top: -2px;
    margin-right: 4px;
}

.obj_properties .collapsed .caret {
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid;
    vertical-align: middle;
    margin-top: -2.5px;
    padding-right: 0px;
}

.obj_properties table {
    display: table !important;
    width: 98%;
    margin: 0.8%;
}

.obj_properties table tr {
    border: 0px white solid;
    margin: 1em;
}

.obj_properties .pgadmin-properties {
    border: 1px rgb(105, 78, 72) solid;
    border-radius: 6px;
    padding: 5px;
    margin: 0.2px 2px 2px 2px;
}

.obj_properties table .spacer {
    height: 2em;
}

.obj_properties table td {
    vertical-align: middle;
}

.pg-prop-btn-group {
    position: absolute;
    text-align: right;
    background-color: #D2D2D2;
    border: 2px solid #A9A9A9;
    left: 0px;
    right: 0px;
    top: 0px;
    padding: 0px 7px;
}

.pg-prop-btn-group button {
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
}

.pg-prop-btn-group button:not(:first-child):not(:last-child) {
    margin: 0px;
}

.pg-prop-content {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    overflow: auto;
    top: 0em;
    bottom: 0px;
    margin-top: 1em;
    padding-right: 0;
    padding-left: 0;
}

.has-pg-prop-btn-group {
    top: 2.5em;
}



.pg-prop-content > div {
    margin-top: 5px;
    margin-bottom: 5px;
}

.pg-prop-content .uneditable-input {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overow: ellipsis;
}

.icon-server-connected {
    background: url('/browser/server/static/img/server.png') no-repeat 30% 30% green !important;
    border-radius: 10px
}

.icon-server-not-connected {
    background: url('/browser/server/static/img/server.png') no-repeat 30% 30% red !important;
    border-radius: 10px
}
