/* Overrides/fixes for pgAdmin specific styling */

/* Use the full width of the screen */
.container {
    width: 100% !important;
}
    
/* Restyle the Alertify dialogs */
.alertify .ajs-dialog {
    border: 0px solid rgba(0,0,0,.2);
}

.alertify .ajs-header {
    background-color: #428bca;
    color: #fff;
}

.alertify .ajs-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* iFrames should have no border */
iframe {
    border-width: 0;
}

/* Ensure the codemirror editor displays full height gutters when resized */
.CodeMirror, .CodeMirror-gutters {
    height: 100% !important; 
} 

/* Padding for the treeview */
.browser-browser-pane {
    padding-left: 0;
}

/* Alert info panel */
.alert-info-panel {
    border: 2px solid #a1a1a1;
    margin-top: 2em;
    padding: 5px 5px; 
    background: #dddddd;
    border-radius: 5px;
    height: 8em;
    overflow: scroll;
}