.alert-box {
  padding: 15px; }

.alert-icon {
  display: table-cell; }

.alert-text {
  display: table-cell;
  padding-left: 10px; }

.alert-info {
  border-color: #84acdd; }

.color-chip {
  align-items: center;
  border-radius: 3px;
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.65);
  display: flex;
  font-size: 1.25em;
  height: 100px;
  justify-content: center;
  margin: 0 0 1em;
  width: 100%; }

.bg-gray-1 {
  background-color: #f9f9f9; }

.bg-gray-2 {
  background-color: #e8e8e8; }

.bg-gray-3 {
  background-color: #cccccc; }

.bg-gray-4 {
  background-color: #888888; }

.bg-gray-5 {
  background-color: #555555; }

.bg-gray-6 {
  background-color: #333333; }

.font-white {
  color: #FFFFFF; }

.font-gray-3 {
  color: #cccccc; }

.font-gray-4 {
  color: #888888; }

.border-gray-3 {
  border: 2px solid #cccccc; }

.text-bold {
  font-weight: bold; }

.text-14 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px; }

.text-13 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px; }

.text-12 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px; }

.text-11 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px; }

.bg-primary-blue {
  background-color: #2c76b4; }

.bg-highlight {
  background-color: #e7f2ff; }

.bg-border {
  background-color: #84acdd; }

.bg-red-1 {
  background-color: #f2dede; }

.bg-red-2 {
  background-color: #ecccd1; }

.bg-red-3 {
  background-color: #d0021b; }

.bg-green-1 {
  background-color: #dff0d7; }

.bg-green-2 {
  background-color: #d6eac5; }

.bg-green-3 {
  background-color: #3a773a; }

.font-white {
  color: #FFFFFF; }

.opacity-5 {
  opacity: 0.5;  }