#uploader h1 b {
  font-weight: normal;
  color:  $color-gray;
}

.file_listing {
  min-width: 100%;
  position: relative;
  overflow: auto;

  .file_listing_table_no_data {
    height: auto !important;
  }

  .file_listing_table {
    table-layout: fixed;
    & td, &th {
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .file_listing_table thead tr {
    border-bottom: $panel-border;
  }

  .file_listing_table tbody tr {
    max-width: 100%;
    width: 100%;
  }

  .file_listing_table tbody tr td:nth-child(1),
  .file_listing_table thead tr th:nth-child(1) {
    width: 400px;
    min-width: 100px;
  }

  .file_listing_table tbody tr td:nth-child(2),
  .file_listing_table thead tr th:nth-child(2) {
    width: 100px;
    min-width: 100px;
  }

  .file_listing_table tbody tr td:nth-child(3),
  .file_listing_table thead tr th:nth-child(3) {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
  }
}

.file_listing #contents.grid li:hover,
.file_listing #contents.grid li.selected {
  cursor: pointer;
  border: $table-hover-border;
  background: $grid-hover-bg-color;
  color: $grid-hover-fg-color;
}

.fileinfo #contents li span.less_text {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  display: block;
}

.fileinfo table#contents tr td {
  font-family: $font-family-primary;

  & span.less_text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
  }

  & .fa {
    line-height: inherit;
  }
}

.fm_folder_grid, .fm_file_grid {
  font-size: xx-large !important;
}

.fm_folder_list,
.fm_folder_grid,
.fm_file_grid,
.fm_file_list {
  color: $color-fg;
}

.fm_drive {
  font-size: xx-large !important;
  color:  $color-gray;
}

.newfile {
  position: absolute;
  top:0;
  left: 3px;
  right:0;
  width: 152px;
  height:23px;
  opacity:0;  filter: alpha(opacity=0);
  cursor: pointer;
  border:1px solid $color-primary;
}

.file_listing #contents.grid li {
  display: block;
  float: left;
  width: 100px;
  height: 80px;
  text-align: center;
  overflow: hidden;
  margin: 0.5rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid $color-bg;
}

.file_manager {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.file_manager #uploader {
  border-bottom: $panel-border;
}

.file_manager #uploader .filemanager-path-group {
  padding: 0;
  display: block;
  border: 1px solid  $border-color;
  height: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  float: left;
  margin-right: 10px;
  background: $color-gray-lighter;
}

.file_manager #uploader .btn-group .btn[disabled] {
  color:  $color-gray-light;
  background-color: $color-gray-lighter;
}

.file_manager #uploader .filemanager-btn-group {
  border: 1px solid  $border-color;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: auto;
  float: left;
  overflow: hidden;
}

.file_manager .upload_file #dropzone-container {
  background: $color-gray-light;
}

.fileinfo .prompt-info {
  text-align: center;
  color: $color-fg;
}

.allowed_file_types {
  border-top: $panel-border;
  background: $color-bg;
  z-index: 5;
  padding: 0.25rem;
}

.upload_file{
  min-width: 100%;
}

.upload_file .file_upload_main {
  height: 127px;
  width: 120px;
  display: inline-block;
  margin: 0 15px 15px 0 !important;
  border: 1px solid $color-bg;
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: $color-bg;
  opacity: 1;
}

.upload_file .file_upload_main .show_error {
  padding: 10px 0 0 10px;
  color: $color-fg;
}

.file_upload_main .dz-progress {
  float: left;
  width: 100%;
  height: 21px !important;
  border: 1px solid  $border-color;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
}

.file_upload_main .dz-progress .dz-upload {
  background: $color-primary-light !important;
  text-align: center;
}

.file_upload_main .dz-progress .dz-upload.success {
  background: $color-success-light !important;
  float: left;
  width: 100%;
}

.upload_file .file_upload_main a.dz_file_remove {
  position: absolute;
  top: 0;
  right: 0;
  color: $color-danger;
  cursor: pointer;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: large;
}

.upload_file .file_upload_main a.dz_file_remove:hover {
  border: 1px solid $color-fg;
}

.dropzone .dz-message {
  color: $color-gray;
}

.fileinfo .fm_dimmer {
  display: none;
  top: 0;
  bottom: 0;
  background: $loading-bg;
  opacity: 0.5;
  width: 100%;
  position: absolute;
  z-index: 3;
}

.fileinfo .delete_item, .fileinfo .replace_file {
  display: none;
  padding: 1rem;
  border-bottom: $panel-border;
  background: $color-bg;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
}

.upload_file .dz_cross_btn {
  color: $color-fg;
  right: 0px;
  position: absolute;
  background: transparent;
  border: none;
}

.file_manager .fileinfo #contents .fm_lock_icon {
  color: $color-danger;
  position: absolute;
  top: 6px;
  right: 0;
  left: 19px;
  font-size: 16px;
}

.file_manager .fileinfo #contents .fa-lock.tbl_lock_icon {
  color: $color-danger;
  position: relative;
  left: -5px;
  top: -5px;
  font-size: 10px;
}

.file_manager button.ON {
  background: $color-primary;
  color: $color-primary-fg;
}

.fileinfo .is_file_replace {
  width: 100%;
  height: 100%;
  background: $color-gray-lighter;
}

.file_selection_ctrl button.select_item {
  display: inline;
  background:  $color-bg;
  padding: 9px 0px 9px 0px;
  margin-left: 0px;
  margin-right: -7px;
  min-width: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


.cap_select_file {
  cursor: pointer;
}

.cap_select_file:hover {
  color: $grid-hover-fg-color !important;
  .fm_folder_list,
  .fm_folder_grid,
  .fm_file_grid,
  .fm_file_list {
    color: $grid-hover-fg-color !important;
  }
}

.add-folder-icon {
  position: relative;
  top: -8px;
  left: -6px;
  font-size: 8px;
  margin-right: -8px;
}

table.tablesorter {
  th:focus,
  tr:focus {
    outline: $input-focus-border-color auto 5px !important;
  }
}

#contents {
  li:focus {
    outline: $input-focus-border-color auto 5px !important;
  }
}

/* Specific to IE11 where we want to highlight the focus on grid/row  */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  table.tablesorter {
    th:focus,
    tr:focus {
      border: 2px solid $input-focus-border-color !important;
    }
  }

  #contents {
    li:focus {
      border: 2px solid $input-focus-border-color !important;
    }
  }
}
