<div id="container" class="browser-pane-container">

  <div class="pane ui-layout-west browser-browser-pane">
    <div id="tree" class="aciTree">
    </div>
  </div>

  <div class="pane ui-layout-center browser-inner-pane" id="outer-center">
    <div class="pane ui-layout-center browser-center-pane" id="inner-center">
      <ul class="nav nav-tabs browser-tab-bar" role="tablist">
        <li role="presentation" class="active"><a href="#dashboard" aria-controls="home" role="tab" data-toggle="tab">{{ _('Dashboard') }}</a></li>
        <li role="presentation"><a href="#properties" aria-controls="profile" role="tab" data-toggle="tab">{{ _('Properties') }}</a></li>
        <li role="presentation"><a href="#statistics" aria-controls="messages" role="tab" data-toggle="tab">{{ _('Statistics') }}</a></li>
        <li role="presentation"><a href="#dependencies" aria-controls="settings" role="tab" data-toggle="tab">{{ _('Dependencies') }}</a></li>
        <li role="presentation"><a href="#dependents" aria-controls="settings" role="tab" data-toggle="tab">{{ _('Dependents') }}</a></li>
      </ul>
      <div class="tab-content browser-tab-panes">
        <div role="tabpanel" class="tab-pane browser-tab-pane active" id="dashboard">
          <iframe class="browser-tab-content" src="http://www.pgadmin.org/"></iframe>
        </div>
        <div role="tabpanel" class="tab-pane browser-tab-pane" id="properties">Properties Pane</div>
        <div role="tabpanel" class="tab-pane browser-tab-pane" id="statistics">Statistics Pane</div>
        <div role="tabpanel" class="tab-pane browser-tab-pane" id="dependencies">Dependencies Pane</div>
        <div role="tabpanel" class="tab-pane browser-tab-pane" id="dependents">Dependents Pane</div>
      </div>
    </div>
    <div class="ui-layout-south" style="padding: 0;">
        <textarea id="sql-textarea" name="sql-textarea">-- Table: tickets_detail

-- DROP TABLE tickets_detail;

CREATE TABLE tickets_detail
(
  id serial NOT NULL,
  ticket_id integer NOT NULL,
  logger_id integer NOT NULL,
  added timestamp with time zone NOT NULL,
  detail text NOT NULL,
  msgid character varying(100),
  CONSTRAINT tickets_detail_pkey PRIMARY KEY (id),
  CONSTRAINT ticket_id_refs_id_6b8dc130 FOREIGN KEY (ticket_id)
      REFERENCES tickets_ticket (id) MATCH SIMPLE
      ON UPDATE NO ACTION ON DELETE NO ACTION DEFERRABLE INITIALLY DEFERRED,
  CONSTRAINT tickets_detail_logger_id_fkey FOREIGN KEY (logger_id)
      REFERENCES auth_user (id) MATCH SIMPLE
      ON UPDATE NO ACTION ON DELETE NO ACTION DEFERRABLE INITIALLY DEFERRED
)
WITH (
  OIDS=FALSE
);
ALTER TABLE tickets_detail
  OWNER TO helpdesk;

-- Index: tickets_detail_logger_id

-- DROP INDEX tickets_detail_logger_id;

CREATE INDEX tickets_detail_logger_id
  ON tickets_detail
  USING btree
  (logger_id);

-- Index: tickets_detail_ticket_id

-- DROP INDEX tickets_detail_ticket_id;

CREATE INDEX tickets_detail_ticket_id
  ON tickets_detail
  USING btree
  (ticket_id);
</textarea>
    </div>
  </div>

</div>
