{% if known %}
<p>{{ _('Your browser was detected as <strong>{0}</strong> version
    <strong>{1}</strong>, which is either deprecated or not supported by
    pgAdmin 4.').format(browser, version) }}</p>
{% else %}
<p>{{ _('Your browser was detected as <strong>{0}</strong> version
    <strong>{1}</strong>, which pgAdmin has not been tested with. pgAdmin may
    not work as expected, and any issues reported when using this browser may
    not be fixed.').format(browser, version) }}</p>
{% endif %}
<p>{{ _('Please visit the <a class="alert-link"
    href="https://www.pgadmin.org/faq/#11" target="_new">FAQ</a> to see the
    supported browsers.') }}</p>
