{% extends "base.html" %}
{% block title %}{{ config.APP_NAME }}{% endblock %}
{% block body %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{ config.APP_NAME }}</a>
   </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">File <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ url_for('utils.test') }}">Test URL</a></li>
            <li><a href="{{ url_for('utils.ping') }}">Ping</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Help <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">

          </ul>
        </li>

      </ul>
      {% if config.SERVER_MODE %}
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img src="{{ username | gravatar }}" width="18" height="18"> {{ username }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('security.change_password') }}">Change Password</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('security.logout') }}">Logout</a></li>
          </ul>
        </li>
      </ul>
      {% endif %}
    </div>

  </div>
</nav>
{% include 'browser/body.html' %}
{% include 'browser/messages.html' %}
{% endblock %}
