<form name="frmMasterPassword" id="frmMasterPassword" style="height: 100%; width: 100%" onsubmit="return false;">
    <div>
        <div><strong>{{ content_text|safe }}</strong></div>
        <div class="input-group row py-2">
            <label for="password" class="col-sm-2 col-form-label">{{ _('Password') }}</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="password" name="password">
            </div>
        </div>
        {% if errmsg %}
        <div class='pg-prop-status-bar p-0'>
            <div class="error-in-footer">
              <div class="d-flex px-2 py-1">
                <div class="pr-2">
                  <i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i>
                </div>
                <div class="alert-text">{{ errmsg }}</div>
              </div>
            </div>
        </div>
        {% endif %}
    </div>
</form>
