.tree-icon-right:before {
  font-family: $font-family-icon;
  content: "\f054" !important;
  right: 15px;
  top: 3px;
  font-size: 0.6rem;
  line-height: 2;
  border-style: none;
}

.aciTree {
    & .aciTreeButton, & .aciTreePush, & .aciTreeItem, & .aciTreeIcon, & .aciTreeText, & .aciTreeColumn {
        color: $color-fg;
    }
}

.aciTree .aciTreeLi {
  display: grid !important;
  cursor: pointer;
}
.aciTree .aciTreeText {
	font-family: $font-family-primary;
	font-size: 0.815rem;
}

.aciTree .aciTreeSelected > .aciTreeLine {
  background-color: $tree-bg-selected !important;
	border-color: $color-primary-light;
	border-right: $active-border !important;
	border-left: none !important;
	border-top: none !important;
	border-bottom: none !important;
  -webkit-border-radius: none !important;
  -moz-border-radius: none !important;
  border-radius: none !important;

  & .aciTreeItem {
      background-color: $tree-bg-selected;
      border: 1px solid transparent;
      -webkit-border-radius: none !important;
      -moz-border-radius: none !important;
      border-radius: none !important;
      color: $tree-fg-selected;
  }
}
.aciTree .aciTreeItem {
	white-space: nowrap !important;
}
.aciTree.aciTreeLoad {
	background: none;
}
.aciTree .aciTreeLine.aciTreeHover {
  background-color: $tree-bg-hover;
  -webkit-border-radius: none !important;
  -moz-border-radius: none !important;
  border-radius: none !important;
    & .aciTreeItem {
        background-color: inherit;
        border: 1px solid transparent;
        -webkit-border-radius: none !important;
        -moz-border-radius: none !important;
        border-radius: none !important;
        color: $tree-fg-hover;
    }
}

.aciTree.aciTreeFocus {

    & .aciTreeFocus > .aciTreeLine  {
      background-color: $tree-bg-selected !important;
        border-right: $active-border !important;
    }

    & .aciTreeSelected >.aciTreeLine .aciTreeItem {
      background-color: $tree-bg-selected;
    }

    & .aciTreeFocus >.aciTreeLine .aciTreeItem,
    & .aciTreeSelected.aciTreeFocus >.aciTreeLine .aciTreeItem {
      border: 1px solid transparent;
      color: $tree-fg-selected;
    }
}

.aciTree .aciTreeButton {
  background: none;
}
.aciTree .aciTreePush {
  background: none;
  text-align: center;
  font-size: 0.85em;
}
.aciTree .aciTreeEntry,
.aciTree .aciTreeBranch,
.aciTree[dir=rtl] .aciTreeBranch {
    overflow:hidden;
    background: none !important;
}


.aciTree .aciTreeInode>.aciTreeLine .aciTreePush {
    &:before,
    &.aciTreeHover:before {
      background-position: 6px center !important;
      font-family: $font-family-icon;
      content: "\f054" !important;
      border-style: none;
      margin-left: 5px;
    }
}

.aciTree .aciTreeLoad>.aciTreeLine .aciTreePush {
    &:before,
    &.aciTreeHover:before {
      content: " " !important;
    }
}

.aciTree .aciTreeOpen >.aciTreeLine .aciTreePush {
    &:before,
    &.aciTreeHover:before {
      background-position: -14px center !important;
      font-family: $font-family-icon;
      content: "\f078" !important;
      border-style: none;
      margin-left: 5px;
    }
}

.aciTree .aciTreePush>span {
    width: 15px;
    height: 15px;
    left: 2px;
    background: $loader-icon-small 0 0 no-repeat;
    background-color: inherit!important;
}
