.has-error {
  .pgadmin-controls .form-control {
    border-color: $color-danger-light;
  }

  .form-control {
    border-color: $color-danger;
  }

  .control-label {
    color: $color-danger;
  }

  .control-label::before {
    font: normal normal normal 16px/1 FontAwesome;
    content: "\f071";
    text-decoration: inherit;
    position: absolute;
    color: $color-danger;
    right: 0.5rem;
    z-index: 1;
    line-height: inherit;
  }
}

.pgadmin-file-has-error {
  .pgadmin-controls:before {
    right: 40px !important;
  }
}

.pgadmin-datepicker-has-error {
  .pgadmin-controls:before {
    right: 50px !important;
    z-index: 3;
  }
}
.backform-tab .tab-pane {
	padding: 0.5rem;
	&.SQL {
    height: 100%;
    padding: 0px;

    & .pgadmin-controls.SQL {
      padding: 0px;
    }
	}
}

.backform_control_notes {
	border: $panel-border;
	border-radius: $border-radius;
	font-family: $font-family-editor;
	font-size: 0.8rem;
	margin: 0 0 10px;
	padding: 5px 10px;
	word-wrap: break-word;
}
div.backform_control_notes label.control-label {
	min-width: 0px;
}

.subnode-header label {
  max-width: 90% !important;
}

.set-group, .accordian-group {
  margin-bottom: $form-group-margin-bottom;
}
