.has-error {
  .pgadmin-controls .form-control {
    border-color: $color-danger;
  }

  .form-control {
    border-color: $color-danger;
  }

  .control-label {
    color: $color-danger;
  }

  .control-label:before {
    font: normal normal normal 16px/1 FontAwesome;
    content: "\f071";
    text-decoration: inherit;
    position: absolute;
    color: $color-danger;
    right: 6px;
    padding-top: 6px;
    z-index: 1;
  }
}

.pgadmin-file-has-error {
  .pgadmin-controls:before {
    right: 40px !important;
  }
}

.pgadmin-datepicker-has-error {
  .pgadmin-controls:before {
    right: 50px !important;
    z-index: 3;
  }
}
.backform-tab .tab-pane {
	padding: 7px;
	&.SQL {
    height: 100%;
    padding: 0px 7px 0px 0px;
	}
}

.backform_control_notes {
	background-color: $color-gray-lighter;
	border: 1px solid $color-gray-light;
	border-radius: 3px;
	color: $color-gray-dark;
	display: block;
	font-family: $font-family-editor;
	font-size: 12px;
	line-height: 1.42857;
	margin: 0 0 10px;
	overflow: auto;
	padding: 5px 10px;
	word-wrap: break-word;
}
div.backform_control_notes label.control-label {
	min-width: 0px;
}

.subnode-header label {
  max-width: 90% !important;
}

.set-group {
  margin-bottom: $form-group-margin-bottom;
}