.has-error {
  .pgadmin-controls .form-control {
    border-color: $color-danger-light;
  }

  .form-control {
    border-color: $color-danger;
  }

  .control-label {
    color: $color-danger;
  }

  .control-label::before {
    font: normal normal normal 16px/1 $font-family-icon;
    content: "\f071";
    text-decoration: inherit;
    position: absolute;
    color: $color-danger;
    right: 0.5rem;
    z-index: 1;
    line-height: inherit;
  }
}

.pgadmin-file-has-error {
  .pgadmin-controls:before {
    right: 40px !important;
  }
}

.pgadmin-datepicker-has-error {
  .pgadmin-controls:before {
    right: 50px !important;
    z-index: 3;
  }
}
.backform-tab .tab-pane {
	padding: 0.5rem;
	&.SQL, &.sql-code-control {
        height: 100%;
        padding: 0px;

        & .pgadmin-controls.SQL {
          padding: 0px;
        }
	}
}

.backform-note {
  border-radius: $border-radius;
  padding: .25rem;
  word-wrap: break-word;
  background: $border-color;
  color: $color-fg;
}

.subnode-header label {
  max-width: 90% !important;
}

.set-group, .accordian-group {
  margin-bottom: $form-group-margin-bottom;
}
