$color-gray-1: #f9f9f9;
$color-gray-2: #e8e8e8;
$color-gray-3: #cccccc;
$color-gray-4: #888888;
$color-gray-5: #555555;
$color-gray-6: #333333;

.bg-gray-1 {
  background-color: $color-gray-1;
}

.bg-gray-2 {
  background-color: $color-gray-2;
}

.bg-gray-3 {
  background-color: $color-gray-3;
}

.bg-gray-4 {
  background-color: $color-gray-4;
}

.bg-gray-5 {
  background-color: $color-gray-5;
}

.bg-gray-6 {
  background-color: $color-gray-6;
}

.border-gray-1 {
  border-color: $color-gray-1;
}

.border-gray-2 {
  border-color: $color-gray-2;
}

.border-gray-3 {
  border-color: $color-gray-3;
}

.border-gray-4 {
  border-color: $color-gray-4;
}

.border-gray-5 {
  border-color: $color-gray-5;
}

.border-gray-6 {
  border-color: $color-gray-6;
}

.font-gray-4 {
  color: $color-gray-4;
}

.font-gray-6 {
  color: $color-gray-6;
}
