/*doc
---
title: Others
name: z-othercolors
category: colors
---
These colors should be used to highlight hover options in dropdown menus and catalog browser or to tell the user when something is right or wrong.


```html_example
<div class="row">
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="color-chip bg-blue-1">
        #e7f2ff
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="color-chip bg-blue-2">
        #84acdd
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="color-chip bg-red-1">
        #f2dede
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="color-chip bg-red-2">
        #de8585
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="color-chip bg-red-3">
        #d0021b
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="color-chip bg-green-1">
        #dff0d7
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="color-chip bg-green-2">
        #a2c189
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="color-chip bg-green-3">
        #3a773a
      </div>
    </div>
  </div>
</div>
```

*/

.color-chip {
  align-items: center;
  border-radius: 3px;
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, .15);
  color: rgba(0, 0, 0, .65);
  display: flex;
  font-size: 1.25em;
  height: 100px;
  justify-content: center;
  margin: 0 0 1em;
  width: 100%;
}

$color-red-1: #f2dede;
$color-red-2: #de8585;
$color-red-3: #d0021b;
$color-green-2: #a2c189;

.bg-white-1 {
  background-color: #ffffff;
}

.bg-blue-1 {
  background-color: #e7f2ff;
}

.bg-blue-2 {
  background-color: #84acdd;
}

.bg-red-1 {
  background-color: $color-red-1;
}

.bg-red-2 {
  background-color: $color-red-2;
}

.bg-red-3 {
  background-color: $color-red-3;
}

.bg-green-1 {
  background-color: #dff0d7;
}

.bg-green-2 {
  background-color: #a2c189;
}

.bg-green-3 {
  background-color: #3a773a;
}

.border-blue-1 {
  border-color: #e7f2ff;
}

.border-blue-2 {
  border-color: #84acdd;
}

.border-red-1 {
  border-color: $color-red-1;
}

.border-red-2 {
  border-color: $color-red-2;
}

.border-red-3 {
  border-color: $color-red-3;
}

.border-green-1 {
  border-color: #dff0d7;
}

.border-green-2 {
  border-color: #a2c189;
}

.border-green-3 {
  border-color: #3a773a;
}

.font-red-3 {
  color: $color-red-3;
}

.font-green-3 {
  color: #3a773a;
}

.font-white {
  color: #FFFFFF;
}
