$color-blue-1: #e7f2ff;
$color-blue-2: #84acdd;
$color-red-1: #f2dede;
$color-red-2: #de8585;
$color-red-3: #d0021b;
$color-green-1: #dff0d7;
$color-green-2: #a2c189;
$color-green-3: #3a773a;

.bg-white-1 {
  background-color: #ffffff;
}

.bg-blue-1 {
  background-color: $color-blue-1;
}

.bg-blue-2 {
  background-color: $color-blue-2;
}

.bg-red-1 {
  background-color: $color-red-1;
}

.bg-red-2 {
  background-color: $color-red-2;
}

.bg-red-3 {
  background-color: $color-red-3;
}

.bg-green-1 {
  background-color: $color-green-1;
}

.bg-green-2 {
  background-color: $color-green-2;
}

.bg-green-3 {
  background-color: $color-green-3;
}

.border-blue-1 {
  border-color: $color-blue-1;
}

.border-blue-2 {
  border-color: $color-blue-2;
}

.border-red-1 {
  border-color: $color-red-1;
}

.border-red-2 {
  border-color: $color-red-2;
}

.border-red-3 {
  border-color: $color-red-3;
}

.border-green-1 {
  border-color: $color-green-1;
}

.border-green-2 {
  border-color: $color-green-2;
}

.border-green-3 {
  border-color: $color-green-3;
}

.font-red-3 {
  color: $color-red-3;
}

.font-green-3 {
  color: $color-green-3;
}
