$palette-soft-red: $color-ternary;
$border-radius-mid: $btn-border-radius;
$font-family: $font-family-base;
$box-shadow-app: $popover-box-shadow;

@import "node_modules/@simonwep/pickr/src/scss/themes/monolith.scss";

.pickr, .pcr-app {
  *:focus {
    outline: none !important;
  }
}

.pickr .pcr-button{
  border: $input-border-width solid $input-border-color;
  &:focus {
    box-shadow: $input-btn-focus-box-shadow !important;
  }
}
