.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $color-primary-lighter;
  color:  $color-gray-dark;
}

.select2-container--default .select2-search--inline .select2-search__field {
    background: transparent none repeat scroll 0% 0%;
    border: medium none;
    outline: 0px none;
    box-shadow: none;
    width: 100% !important;
}

.renderable > .select2-container {
    width: 100% !important;
}

.select2-container .select2-selection--single .select2-selection__rendered{
  padding-left: 5px;
}


.select2-container--default.select2-container--focus
.select2-selection--multiple {
  border: 1px solid $color-gray-light !important;
  outline: 0 none;
}

.select2-container--default.select2-container--focus {
  border-color: $color-primary-light;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba($color-primary, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba($color-primary, .6);
}


.select2-results span.wcTabIcon {
  padding-left: 20px;
  background-position: 0px 2px;
}

.select2-selection {
  color: $input-color;
  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width solid $input-border-color !important;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: $input-disabled-bg !important;
    opacity: 1;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: $input-disabled-bg !important;
    opacity: 1;
}

.select2-select-all-adapter-container {
  padding: 3px 0px;
  background-color: $color-primary;
  margin-bottom: 3px;
}
