.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $color-primary-lighter;
  color:  $color-gray-dark;
}

.select2-select-all-adapter-container {
  padding: 3px 0px;
  background-color: $color-primary;
  margin-bottom: 3px;
}