$font-family-1: "Open Sans";

.text-bold {
  font-weight: bold;
}

.text-14 {
  font-family: $font-family-1;
  font-size: 14px;
}

.text-13 {
  font-family: $font-family-1;
  font-size: 13px;
}

.text-12 {
  font-family: $font-family-1;
  font-size: 12px;
}

.text-11 {
  font-family: $font-family-1;
  font-size: 11px;
}
