.wcDocker {
  background-color: $color-bg;
}

.wcPanelBackground {
  background-color: $color-bg;
}

.wcPanelBackground .wcCenter {
  background-color: $color-gray-lighter;
}

.wcFrameFlasher {
  background-color: $color-danger;
}

.wcFrameShadower {
  background-color: $color-gray-light;
}

.wcFrameTitle {
  font-size: 13px;
  padding-left: 8px;
  vertical-align: middle;
  text-align: left;
  border-bottom: 1px none;
  height: 100%;
  padding-top: 10px;
  background-color: $color-gray-lighter;
}

.wcFrameCenter {
  top: 35px;
}

.wcFrameButton {
  width: 20px;
  height: 20px;
  border: 2px solid $color-gray;
  background-color: $color-gray-lighter;
  font-size: 12px;
  border-radius: 5px 5px 5px 5px;
  margin-right: 2px;
}

.wcFrameMiniButton {
  width: 8px;
}

.wcFrameButton.wcFrameButtonLeft {
  right: 10px;
}
.wcFrameButton.wcFrameButtonRight {
  right: 10px;
}

.wcFrameButton:hover {
  border: 2px solid $color-gray-light;
}

.wcFrameButton:active {
  border: 2px solid $color-gray-lighter;
}

.wcFrameButtonToggled, .wcFrameButtonToggled:hover {
  border-style: inset;
}

.wcLayoutGrid, .wcLayoutGrid tr, .wcLayoutGrid td {
  border: 1px solid  $color-gray;
}

.wcLayoutGridAlternate tr:nth-child(even), .wcLayoutGridAltColor {
  background-color: rgba($color-danger-light, 0.2) !important;
}

.wcFrameEdge {
  border: 1px solid $color-gray-lighter;
  background-color: $color-gray-lighter;
}

.wcFrame > .wcFrameEdgeV ~ .wcFrameEdgeV {
  box-shadow: 3px 6px 3px 1px  $color-gray !important;
}

.wcFrame > .wcFrameEdge ~ .wcFrameEdgeV {
  box-shadow: 1px 0px 0px 0px  $color-gray;
}

.wcFrame > .wcFrameEdgeH ~ .wcFrameEdgeH {
  box-shadow: 2px 3px 3px 2px  $color-gray !important;
}

.wcFrame > .wcFrameEdgeH {
  box-shadow: 1px 0px 0px 0px  $color-gray;
}

.wcFrameEdgeH {
  height: 6px;
}

.wcFrameEdgeV {
  width: 6px;
}
.wcFrameCornerNW,
.wcFrameCornerNE {
  height: 6px;
  width: 6px;
}

.wcSplitterBar {
  border: 1px solid  $color-gray;
  background-color: $color-gray-light;
}

.wcSplitterBarV {
  border-left: 3px solid $color-gray-light;
  height: 100% !important;
}

.wcSplitterBarH {
  border-top: 3px solid $color-gray-light;
  width: 100% !important;
}

.wcPanelTab {
  color: $color-primary;
  background-color: $color-gray-lighter;
  border: 0px;
  border-radius: 4px 4px 0px 0px;
  border-bottom: 0px;
  margin-right: 1px;
  margin-top: 10px;
  font-size: 13px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.wcPanelTab:hover {
  background-color: $color-gray-white;
  padding-bottom: 10px;
}

.wcPanelTabActive {
  background-color: $color-bg;
  color: $color-fg;
  margin-top: 5px;
  line-height: 30px;
  font-weight: normal;
}

.wcFloating .wcPanelTabActive {
  background-color: $color-primary;
  margin-top: -2px;
  font-weight: bold;
  color: $color-fg-inverse;
}

.wcFloating .wcPanelTabActive:hover {
  background-color: $color-primary-light;
}

.wcGhost {
  background-color: $color-primary-light;
  border-radius: 6px;
}

.wcMenuList, .context-menu-list {
  border: 1px solid $color-gray-lighter;
  z-index: 999 !important;
  background: $color-gray-lighter;
}

.wcMenuItem, .context-menu-item {
  background-color: $color-gray-lighter;
}

.wcMenuItemHover, .wcMenuItem:hover, .context-menu-item.hover, .context-menu-item:hover {
  background-color: $color-primary !important;
}

.wcMenuItem.disabled, .context-menu-item.disabled {
  color: $color-gray-dark;
  background-color:  $color-gray;
}

.wcMenuSeparator, .context-menu-separator {
  border: 2px solid $color-gray-light;
  background-color: $color-gray-lighter;
}

.wcInput, input {
  background-color: transparent;
}

.wcSelect, select {
  background-color: transparent;
}

.wcLayout, .wcLayout tr, .wcLayout td {
  vertical-align: top;
}

.wcPanelTab > div > .wcTabIcon {
  display: inline-block;
  text-align: center;
  padding-left: 20px;
  margin-top: -5px;
  margin-right: 5px;
}

.wcPanelTab > div .wcTabIcon.fa {
  padding-left: 0px !important;
  color: $color-fg;
}

.wcTabIcon.fa {
  margin-right: 5px;
}

.wcFrameTitleBar {
  background-color: $color-gray-lighter;
  height: 35px;
  border-bottom: $color-gray;
}

.wcFloating .wcFrameTitleBar {
  border-bottom: 2px solid  $color-gray;
  background-color: $color-primary;
}

.wcFloating .wcFrameTitleBar > div .wcTabIcon.fa {
  color: $color-fg-inverse;
}

.wcFrame .wcFrameTitleBar a:hover {
  color: $color-primary-dark;
}

.wcFrameButtonBar {
  top: 5px;
  right: 5px;
}
.context-menu-list {
font-family: $font-family-primary;
font-size: 13px;
}

.context-menu-icon:before {
  color:  $color-gray-darker;
  font-size: 13px;
}

.context-menu-icon-fa:before {
  font-family: 'FontAwesome'
}

.context-menu-item {
  display:block;
  font-family: $font-family-primary;
  font-size: 13px;
  font-weight: normal;
}

.context-menu-list {
    padding: 2px 0;
    width: initial !important;
}

.context-menu-list > .context-menu-item {
    display:block !important;
}

.context-menu-list > .context-menu-separator {
    margin: 0;
    border: 1px solid $color-bg;
}

.context-menu-icon-wcTabIcon {
  text-align: left;
  padding: 3px 28px;
  height: auto;
  background-position: 5px 50%;
}

ul.dropdown-menu > li.menu-item > a > i.wcTabIcon {
  width: 14px;
}

.wcFrameButton .fa.fa-close {
  margin-top: 3.5px;
  padding-left: 1px;
}

span.fa.fa-arrow-left, .fa-arrow-right {
  margin-top: 4px;
  width: 14px;
}

.wcMenuSubMenu {
  visibility: hidden;
}

i.wcTabIcon {
  min-width: 20px;
}

.wcLoadingBackground {
  background: $color-bg-inverse;
  opacity: 0.6 !important;
}

.wcLoadingIcon.fa-spinner {
  position: absolute;
  top: 34%;
  left: 48%;
  font-size: 50px;
  color: $color-gray-light;
  height: 49px !important;
}

.wcLoadingLabel {
  top: 40%;
  left: 0;
  color: $color-fg-inverse;
  width: 100%;
  font-size: 20px;
  position: absolute;
  text-align: center;
}

.wcPanelTab > div {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 125px;
}

.wcPanelTabActive > div {
  width: auto !important;
  max-width: 100%;
}

.wcFrameTitleBar.wcTabTop .wcFrameButtonBar {
  right: 30px !important;
}

.wcFloating .wcPanelTab .wcTabIcon {
  display: block;
  float: left;
  margin-top: 8px;
  border-radius: 2px;
  padding: 0px 13px 5px 5px;
  background-color: $color-bg;
  background-size: 18px !important;
  height: 18px;
}
