$theme-colors: (
  "primary": $color-primary,
  "danger": $color-danger,
  "success": $color-success,
  "warning": $color-warning,
);

/* Certain variables are required in JS directly */
:root {
  --color-fg: #{$color-fg};
  --color-bg: #{$color-bg};
  --border-color: #{$border-color};
  --psql-background: #{$psql-background};
  --psql-foreground: #{$psql-foreground};
  --psql-cursor: #{$psql-cursor};
  --psql-cursorAccent: #{$psql-cursorAccent};
  --psql-selection: #{$psql-selection};
}

@import "bootstrap/scss/bootstrap";
@import 'webcabin.pgadmin';
@import 'bootstrap.overrides';
@import 'backgrid.overrides';
@import 'aci_tree.overrides';
@import 'select2.overrides';
@import 'codemirror.overrides';
@import 'alert';
@import 'alertify.overrides';
@import 'backform.overrides';
@import 'pgadmin.grid';
@import 'pgadmin.style';
@import 'bootstrap4-toggle.overrides';
@import 'pickr.overrides';
@import 'tippy.overrides';
@import 'jsoneditor.overrides';
@import 'pgadmin4-tree.overrides';
@import 'pgadmin4-tree/src/css/styles';
