{% extends "security/panel.html" %}
{% block panel_title %}pgAdmin Password Change{% endblock %}
{% block panel_body %}
<form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
  {{ change_password_form.hidden_tag() }}
  <fieldset>
    {{ render_field_with_errors(change_password_form.password, "password") }}
    {{ render_field_with_errors(change_password_form.new_password, "password") }}
    {{ render_field_with_errors(change_password_form.new_password_confirm, "password") }}
    <input class="btn btn-lg btn-success btn-block" type="submit" value="Change Password">
  </fieldset>
</form>
{% endblock %}
