{% extends "base.html" %}
{% from "security/fields.html" import render_field_with_errors %}
{% block body %}
<div class="container-fluid change_pass">
    {% include "security/messages.html" %}
    <div class="row align-items-center h-100">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="panel-header h4"><i class="app-icon pg-icon-blue" aria-hidden="true"></i> {{ _('%(appname)s', appname=config.APP_NAME) }}</div>
            <div class="panel-body">
                <div class="d-block text-color pb-3 h5">{{ _('Password Change') }}</div>
                {% if config.SERVER_MODE %}
                    <form action="{{ url_for('browser.change_password') }}" method="POST" name="change_password_form">
                        {{ change_password_form.hidden_tag() }}
                        <fieldset>
                            <legend class="skip-navigation">{{ _('Change Password Form') }}</legend>
                            {{ render_field_with_errors(change_password_form.password, "password") }}
                            {{ render_field_with_errors(change_password_form.new_password, "password") }}
                            {{ render_field_with_errors(change_password_form.new_password_confirm, "password") }}
                            <input class="btn btn-primary btn-block btn-change-pass" type="submit" value="{{ _('Change Password') }}"
                                   title="{{ _('Change Password') }}">
                        </fieldset>
                    </form>
                    {% endif %}
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}
