{% extends "security/panel.html" %}
{% block panel_image %}
<div class="p-5">
    <img src="{{ url_for('static', filename='img/forgot_password.svg') }}" alt="{{ _('Forgot Password') }}">
</div>
{% endblock %}
{% block panel_title %}{{ _('Recover Password', appname=config.APP_NAME) }}{% endblock %}
{% block panel_body %}
{% if config.SERVER_MODE %}
<p>{{ _('Enter the email address for the user account you wish to recover the password for:') }}</p>
<form action="{{ url_for('browser.forgot_password') }}" method="POST" name="forgot_password_form">
    {{ forgot_password_form.hidden_tag() }}
    <fieldset>
        <legend class="skip-navigation">{{ _('Forget Password Form') }}</legend>
        {{ render_field_with_errors(forgot_password_form.email, "text") }}
        <input class="btn btn-primary btn-block btn-login" type="submit" value="{{ _('Recover Password') }}"
               title="{{ _('Recover Password') }}">
    </fieldset>
</form>
{% endif %}
{% endblock %}
