{% extends "base.html" %}
{% from "security/fields.html" import render_field_with_errors, render_username_with_errors %}
{% block title %}{{ config.APP_NAME }}{% endblock %}
{% block body %}
<div class="container-fluid h-100 login_page">
    {% if config.LOGIN_BANNER is defined and config.LOGIN_BANNER != "" %}
    <div class="login_banner alert alert-danger" role="alert">
        {{ config.LOGIN_BANNER|safe }}
    </div>
    {% endif %}
    {% include "security/messages.html" %}
    <div class="row h-100 align-items-center justify-content-center">
        <div class="col-md-6">{% block panel_image %}{% endblock %}</div>
        <div class="col-md-3">
            <div class="panel-header text-color h4"><i class="app-icon pg-icon" aria-hidden="true"></i> {{ _('%(appname)s', appname=config.APP_NAME) }}</div>
            <div class="panel-body">
                <div class="d-block text-color pb-3 h5">{% block panel_title %}{% endblock %}</div>
                {% block panel_body %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
