{% extends "base.html" %}
{% from "security/fields.html" import render_field_with_errors %}
{% block body %}
<div class="container">
    {% include "security/messages.html" %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% block panel_title %}{% endblock %}</h3>
                </div>
                <div class="panel-body">
                    {% block panel_body %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'security/watermark.html' %}
{% endblock %}
