{% extends "base.html" %}
{% from "security/fields.html" import render_field_with_errors %}
{% block body %}
<div class="container-fluid" style="position:relative;z-index:1;">
    {% include "security/messages.html" %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <span class="panel-title h5">{% block panel_title %}{% endblock %}</span>
                </div>
                <div class="card-body">
                    {% block panel_body %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% include 'security/watermark.html' %}
{% endblock %}
