########################################################################
#
# pgAdmin 4 - PostgreSQL Tools
#
# Copyright (C) 2013 - 2017, The pgAdmin Development Team
# This software is released under the PostgreSQL Licence
#
#########################################################################

ServerName {{ PGADMIN_SERVER_NAME }}
{% if PGADMIN_ENABLE_TLS|default('False') == 'True' %}
LoadModule ssl_module modules/mod_ssl.so

<VirtualHost *:443>
    SSLEngine on
    SSLCipherSuite HIGH:!aNULL:!MD5
    SSLCertificateFile "/certs/server.cert"
    SSLCertificateKeyFile "/certs/server.key"

    ServerName pgadmin4
    WSGIDaemonProcess pgadmin processes=1 threads=25
    WSGIScriptAlias / /var/www/pgadmin/pgAdmin4.wsgi

    <Directory /var/www/pgadmin>
        WSGIProcessGroup pgadmin
        WSGIApplicationGroup %{GLOBAL}
        Order deny,allow
        Allow from all
    </Directory>
</VirtualHost>
{% else %}
<VirtualHost *:80>
    WSGIDaemonProcess pgadmin processes=1 threads=25
    WSGIScriptAlias / /var/www/pgadmin/pgAdmin4.wsgi

    <Directory /var/www/pgadmin>
        WSGIProcessGroup pgadmin
        WSGIApplicationGroup %{GLOBAL}
        Order deny,allow
        Allow from all
    </Directory>
</VirtualHost>
{% endif %}