<form name="frmPassword" id="frmPassword" style="height: 100%; width: 100%" onsubmit="return false;">
    <div>{% if errmsg %}
        <div class="highlight has-error">
            <div class='control-label'>{{ errmsg }}</div>
        </div>
        {% endif %}
        <div><b>{{ _('Please enter the password for the user \'{0}\' to connect the server - "{1}"').format(username,
            server_label) }}</b></div>
        <div style="padding: 5px; height: 1px;"></div>
        <div style="width: 100%">
            <span style="width: 25%;display: inline-table;">Password</span>
            <span style="width: 73%;display: inline-block;">
                <input style="width:100%" id="password" class="form-control" name="password" type="password">
            </span>
            <span style="margin-left: 25%; padding-top: 15px;width: 45%;display: inline-block;">
                <input id="save_password" name="save_password" type="checkbox">&nbsp;&nbsp;Save Password
            </span>
        </div>
        <div style="padding: 5px; height: 1px;"></div>
    </div>
</form>
