<form name="frmPassword" id="frmPassword" style="height: 100%; width: 100%" onsubmit="return false;">
    <div>
        <div><span class="font-weight-bold" >
            {% if username %}
                {{ _('Please enter the password for the user \'{0}\' to connect the server - "{1}"').format(username,
                server_label) }}
            {% else %}
                {{ _('Please enter the password for the user to connect the server - "{0}"').format(server_label) }}
            {% endif %}
        </span></div>
        <div class="input-group row py-2">
            <label for="password" class="col-sm-2 col-form-label" aria-hidden="true">{{ _('Password') }}</label>
            <div class="col-sm-10">
              <input id="password" class="form-control" name="password" type="password" autocomplete="new-password">
            </div>
        </div>
        <div class="save-password-div input-group row py-2">
            <span class="col-sm-2 col-form-label">&nbsp;</span>
            <div class="col-sm-10">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" id="save_password" name="save_password" type="checkbox"
                           {% if not allow_save_password %}disabled{% endif %}
                    >
                    <label class="custom-control-label" for="save_password">{{ _('Save Password') }}</label>
                </div>
            </div>
        </div>
        {% if errmsg %}
        <div class='pg-prop-status-bar p-0'>
            <div class="error-in-footer">
              <div class="d-flex px-2 py-1">
                <div class="pr-2">
                  <i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i>
                </div>
                <div class="alert-text" role="alert">{{ errmsg }}</div>
              </div>
            </div>
        </div>
        {% endif %}
    </div>
</form>
