<form name="frmPassword" id="frmPassword" style="height: 100%; width: 100%" onsubmit="return false;">
    <div>{% if errmsg %}
        <div class="highlight has-error">
            <div class='control-label'>{{ errmsg }}</div>
        </div>
        {% endif %}
        {% if prompt_tunnel_password %}
        {% if tunnel_identity_file %}
        <div><b>{{ _('SSH Tunnel password for the identity file \'{0}\' to connect the server "{1}"').format(tunnel_identity_file, tunnel_host) }}</b></div>
        {% else %}
        <div><b>{{ _('SSH Tunnel password for the user \'{0}\' to connect the server "{1}"').format(tunnel_username, tunnel_host) }}</b></div>
        {% endif %}
        <div style="padding: 5px; height: 1px;"></div>
        <div style="width: 100%">
            <span style="width: 97%;display: inline-block;">
                <input style="width:100%" id="tunnel_password" class="form-control" name="tunnel_password" type="password">
            </span>
            <span style="padding-top: 5px;display: inline-block;">
                <input id="save_tunnel_password" name="save_tunnel_password" type="checkbox"
                       {% if not config.ALLOW_SAVE_TUNNEL_PASSWORD  %}disabled{% endif %}
                >&nbsp;&nbsp;Save Password
            </span>
        </div>
        <div style="padding: 5px; height: 1px;"></div>
        {% endif %}
        {% if prompt_password %}
        <div><b>{{ _('Database server password for the user \'{0}\' to connect the server "{1}"').format(username, server_label) }}</b></div>
        <div style="padding: 5px; height: 1px;"></div>
        <div style="width: 100%">
            <span style="width: 97%;display: inline-block;">
                <input style="width:100%" id="password" class="form-control" name="password" type="password">
            </span>
            <span style="padding-top: 5px;display: inline-block;">
                <input id="save_password" name="save_password" type="checkbox"
                       {% if not config.ALLOW_SAVE_PASSWORD  %}disabled{% endif %}
                >&nbsp;&nbsp;Save Password
            </span>
        </div>
        <div style="padding: 5px; height: 1px;"></div>
        {% endif %}
    </div>
</form>
