<form name="frmPassword" id="frmPassword" onsubmit="return false;">
    <div class="m-1">
        {% if prompt_tunnel_password %}
        {% if tunnel_identity_file %}
        <div><label class="font-weight-bold" for="tunnel_password">{{ _('SSH Tunnel password for the identity file \'{0}\' to connect the server "{1}"').format(tunnel_identity_file, tunnel_host) }}</label></div>
        {% else %}
        <div><label class="font-weight-bold" for="tunnel_password">{{ _('SSH Tunnel password for the user \'{0}\' to connect the server "{1}"').format(tunnel_username, tunnel_host) }}</label></div>
        {% endif %}
        <div class="input-group py-2">
            <div class="w-100">
              <input id="tunnel_password" class="form-control" name="tunnel_password" type="password">
            </div>
        </div>
        <div class="save-password-div input-group py-2">
            <div class="w-100">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" id="save_tunnel_password" name="save_tunnel_password" type="checkbox"
                           {% if not allow_save_tunnel_password  %}disabled{% endif %}
                    >
                    <label class="custom-control-label" for="save_tunnel_password" class="ml-1">{{ _('Save Password') }}</label>
                </div>
            </div>
        </div>
        {% endif %}
        {% if prompt_password %}
        <div><label class="font-weight-bold" for="password">
            {% if service  %}
                {{ _('Database server password for the user to connect the server "{0}"').format(server_label) }}
            {% else %}
                {{ _('Database server password for the user \'{0}\' to connect the server "{1}"').format(username, server_label) }}
            {% endif %}
        </label></div>
        <div class="input-group py-2">
            <div class="w-100">
              <input id="password" class="form-control" name="password" type="password">
            </div>
        </div>
        <div class="save-password-div input-group py-2">
            <div class="w-100">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" id="save_password" name="save_password" type="checkbox"
                           {% if not allow_save_password  %}disabled{% endif %}
                    >
                    <label class="custom-control-label" for="save_password" class="ml-1">{{ _('Save Password') }}</label>
                </div>
            </div>
        </div>
        {% endif %}
        {% if errmsg %}
        <div class='pg-prop-status-bar p-0'>
            <div class="error-in-footer">
              <div class="d-flex px-2 py-1">
                <div class="pr-2">
                  <i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i>
                </div>
                <div class="alert-text" role="alert">{{ errmsg }}</div>
              </div>
            </div>
        </div>
        {% endif %}
    </div>
</form>
