.icon-pga_job {
  background-image: url('{{ url_for('NODE-pga_job.static', filename='img/pga_job.svg') }}') !important;
  background-repeat: no-repeat;
  background-size: 20px !important;
  align-content: center;
  vertical-align: middle;
  height: 1.3em;
}

.icon-pga_job-disabled {
  background-image: url('{{ url_for('NODE-pga_job.static', filename='img/pga_job-disabled.svg') }}') !important;
  background-repeat: no-repeat;
  background-size: 20px !important;
  align-content: center;
  vertical-align: middle;
  height: 1.3em;
}
