<div class="container-fluid enable-selection">
    <div class="row">
        <div class="col-sm-3"><strong>{{ _('Version') }}</strong></div>
        <div class="col-sm-9">{{ config.APP_VERSION }}</div>
    </div>
    <div class="row">
        <div class="col-sm-3"><strong>{{ _('Application Mode') }}</strong></div>
        <div class="col-sm-9">{{ info.app_mode }}</div>
    </div>
    <div class="row">
        <div class="col-sm-3"><strong>{{ _('Current User') }}</strong></div>
        <div class="col-sm-9">{{ info.current_user }}</div>
    </div>
    {% if info.nwjs %}
        <div class="row">
        <div class="col-sm-3"><strong>{{ _('NW.js Version') }}</strong></div>
        <div class="col-sm-9">{{ info.nwjs }}</div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-3"><strong>{{ _('Browser') }}</strong></div>
        <div class="col-sm-9">{{ info.browser_details }}</div>
    </div>
    <div class="row">
        <div class="col-sm-3"><strong>{{ _('Operating System') }}</strong></div>
        <div class="col-sm-9">{{ info.os_details }}</div>
    </div>
    <div class="row">
        <div class="col-sm-3"><strong>{{ _('pgAdmin Database File') }}</strong></div>
        <div class="col-sm-9">{{ info.config_db }}</div>
    </div>
    <div class="row">
        <div class="col-sm-3"><strong>{{ _('Log File') }}</strong></div>
        <div class="col-sm-9">{{ info.log_file }}</div>
    </div>
    {%if (info.app_mode == 'Desktop') or (info.app_mode == 'Server' and info.admin)%}
    <div class="row">
        <div class="col-sm-3"><b>{{ _('Server Configuration') }}</b></div>
    </div>
    <div class="row">
        <div class="col-sm-9">
                    <textarea id="about-textarea" rows="7" cols="150" style="position: relative;width:105%; white-space: pre-wrap;" readonly>{{ info.settings|safe }}</textarea>
                    <button class="btn btn-secondary about-copy" id="copy_textarea" style="position:absolute;top:0;right:0;z-index:20;">Copy</button>
        </div>
    </div>
    {% endif %}
</div>
