<div class="container-fluid enable-selection">
    <div class="row">
        <div class="col-sm-3"><strong>{{ _('Version') }}</strong></div>
        <div class="col-sm-9">{{ config.APP_VERSION }}</div>
    </div>
    <div class="row">
        <div class="col-sm-3"><strong>{{ _('Copyright') }}</strong></div>
        <div class="col-sm-9">{{ config.APP_COPYRIGHT }}</div>
    </div>
    <div class="row">
        <div class="col-sm-3"><strong>{{ _('Python Version') }}</strong></div>
        <div class="col-sm-9">{{ info.python_version }}</div>
    </div>
    <div class="row">
        <div class="col-sm-3"><strong>{{ _('Flask Version') }}</strong></div>
        <div class="col-sm-9">{{ info.flask_version }}</div>
    </div>
    <div class="row">
        <div class="col-sm-3"><strong>{{ _('Application Mode') }}</strong></div>
        <div class="col-sm-9">{{ info.app_mode }}</div>
    </div>
    <div class="row">
        <div class="col-sm-3"><strong>{{ _('Current User') }}</strong></div>
        <div class="col-sm-9">{{ info.current_user }}</div>
    </div>
    <div class="row">
        <div class="col-12 text-right"><img
            src="{{ url_for('static', filename='img/logo-right-128.png') }}"
            alt="{{ config.APP_NAME }} {{ _('logo') }}"
        ></div>
    </div>
</div>
