.preferences_tree{
  padding: 0px;
  padding-top: 2px;
  height: 100%;
  overflow: auto;
  border-right: 2px solid $color-gray-light;
  background-image: $color-gray-lighter;
}

.preferences_content {
  &.striped-divs > {
    div.pgadmin-control-group:nth-of-type(odd) {
      background: $color-gray-light;
      padding-top: 6px;
    }
    div.pgadmin-control-group:nth-of-type(even) {
      background: $color-bg-theme;
    }
  }
}

.btn-checkbox {
  padding: $btn-checkbox-padding;
}
