#schema-diff-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $color-gray-light;
}

#schema-diff-grid .slick-header .slick-header-columns {
  background: $color-bg;
  height: 40px;
  border-bottom: none;
}

#schema-diff-grid .slick-header .slick-header-column.ui-state-default {
  padding: 4px 0 3px 6px;
  border-bottom: $panel-border;
  border-right: $panel-border;
}

#schema-diff-grid {
  font-family: $font-family-primary;
  font-size: $tree-font-size;
  .ui-widget-content {
    background-color: $input-bg;
    color: $input-color;
  }

  .ui-state-default {
    color: $color-fg;
  }
}

.slick-row:hover .slick-cell{
  border-top: $table-hover-border;
  border-bottom: $table-hover-border;
  background-color: $table-hover-bg-color;
}

#schema-diff-grid .slick-header .slick-header-column.selected {
  background-color: $color-primary;
  color: $color-primary-fg;
}
.slick-row .slick-cell {
  border-bottom: $panel-border;
  border-right: $panel-border;
  z-index: 0;
}

#schema-diff-grid .slick-row .slick-cell.l0.r0.selected {
  background-color: inherit;
}

#schema-diff-grid .slick-row > .slick-cell.selected {
  background-color: $table-hover-bg-color !important;
  border-top: $table-hover-border;
  border-bottom: $table-hover-border;
}

#schema-diff-grid div.slick-header.ui-state-default {
  background: $color-bg;
  border-bottom: none;
  border-right: none;
  border-top: $panel-border;
}

#schema-diff-grid .different {
  background-color: $schemadiff-diff-row-color !important;
  color: $schema-diff-color-fg;
}
#schema-diff-grid .source {
  background-color: $schemadiff-source-row-color;
  color: $schema-diff-color-fg;
}
#schema-diff-grid .target {
  background-color: $schemadiff-target-row-color !important;
  color: $schema-diff-color-fg;
}

#schema-diff-grid .slick-row.active {
    background-color: $table-bg-selected !important;
    color: $schema-diff-color-fg;
}

#schema-diff-ddl-comp {
  height: 100%;
  bottom: 10px;
  background-color: $color-bg !important;
  overflow-y: hidden;
}

#schema-diff-grid .slick-group-select-checkbox {
  width: 13px;
  height: 13px;
  margin-right: 1rem;
  vertical-align: middle;
  display: inline-block;
}

.slick-group-toggle.collapsed::before {
  font-family: $font-family-icon;
  content: "\f054";
  font-size: 0.6rem;
  border: none;
}

.slick-group-toggle.expanded::before {
  font-family: $font-family-icon;
  content: "\f078";
  font-size: 0.6rem;
  margin-left: 0rem;
}

#schema-diff-ddl-comp .badge .caret::before {
  font-family: $font-family-icon;
  content: "\f078";
  font-size: 0.7rem;
  margin-left: 0rem;
}

.slick-group {
  color: $input-color !important;
}

.slick-group:hover {
  color: $schema-diff-color-fg !important;
}

.slick-group.active {
  color: $schema-diff-color-fg !important;
}
