<div class="container-fluid dashboard-container negative-space">
    <div id="dashboard-graphs">
    </div>
    <div id="dashboard-activity" class="card dashboard-row dashboard-hidden">
        <div class="card-header">
            <span id="server-activity-header">{{ _('Server activity') }}</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-9 col-12 pr-0">
                    <ul class="nav nav-tabs" role="tablist" aria-labelledby="server-activity-header">
                        <li class="nav-item">
                            <a class="nav-link active show" id="tab_panel_server_activity_tab" href="#tab_panel_server_activity" aria-controls="tab_server_activity"
                                role="tab" data-toggle="tab">{{_('Sessions') }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab_panel_server_locks_tab" href="#tab_panel_server_locks" aria-controls="tab_server_locks"
                                role="tab" data-toggle="tab">{{ _('Locks') }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab_panel_server_prepared_tab" href="#tab_panel_server_prepared" aria-controls="tab_server_prepared"
                                role="tab" data-toggle="tab">{{ _('Prepared Transactions') }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab_panel_server_config_tab" href="#tab_panel_server_config" aria-controls="tab_server_config"
                                role="tab" data-toggle="tab">{{ _('Configuration') }}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-12 pl-0 text-right">
                    <div class="navtab-inline-controls">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text fa fa-search" id="labelSearch"></span>
                            </div>
                            <input type="search" class="form-control" id="txtGridSearch" placeholder="{{ _('Search') }}" aria-label="{{ _('Search') }}" aria-describedby="labelSearch">
                        </div>
                        <button id="btn_refresh" type="button" class="btn btn-primary-icon btn-navtab-inline" title="{{ _('Refresh') }}" aria-label="{{ _('Refresh') }}">
                            <span class="fa fa-sync-alt" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Nav tabs -->


            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane negative-space p-2 active show" id="tab_panel_server_activity" aria-labelledby="tab_panel_server_activity_tab">
                    <div id="server_activity" class="grid-container"></div>
                </div>
                <div role="tabpanel" class="tab-pane negative-space p-2" id="tab_panel_server_locks" aria-labelledby="tab_panel_server_locks_tab">
                    <div id="server_locks" class="grid-container"></div>
                </div>
                <div role="tabpanel" class="tab-pane negative-space p-2" id="tab_panel_server_prepared" aria-labelledby="tab_panel_server_prepared_tab">
                    <div id="server_prepared" class="grid-container"></div>
                </div>
                <div role="tabpanel" class="tab-pane negative-space p-2" id="tab_panel_server_config" aria-labelledby="tab_panel_server_config_tab">
                    <div id="server_config" class="grid-container"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="dashboard-none-show" class="alert alert-info pg-panel-message dashboard-hidden" role="alert">
        {{ _('All Dashboard elements are currently disabled.') }}
    </div>
</div>
