<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- To set pgAdmin4 shortcut icon in browser -->
    <link rel="shortcut icon" href="{{ url_for('redirects.favicon') }}"/>

    <!-- Base template stylesheets -->
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/bootstrap.css' if config.DEBUG else 'css/bootstrap.min.css')}}"/>
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/alertifyjs/alertify.css' if config.DEBUG else 'css/alertifyjs/alertify.min.css') }}"/>
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/alertifyjs/themes/bootstrap.css' if config.DEBUG else 'css/alertifyjs/themes/bootstrap.min.css') }}"/>
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/bootstrap-theme.css' if config.DEBUG else 'css/bootstrap-theme.min.css') }}"/>
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/font-awesome.css' if config.DEBUG else 'css/font-awesome.min.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/font-mfizz.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker3.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css')}}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-switch.css')}}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/backgrid/backgrid.css')}}"/>
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/backgrid/backgrid-select-all.css' if config.DEBUG else 'css/backgrid/backgrid-select-all.min.css')}}"/>
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/backgrid/backgrid-paginator.css' if config.DEBUG else 'css/backgrid/backgrid-paginator.min.css')}}"/>
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/backgrid/backgrid-filter.css' if config.DEBUG else 'css/backgrid/backgrid-filter.min.css')}}"/>
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/backgrid/backgrid-sizeable-columns.css')}}"/>
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/select2/select2.css' if config.DEBUG else 'css/select2/select2.min.css')}}"/>

    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/slickgrid/slick.grid.css')}}"/>
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/slickgrid/slick-default-theme.css')}}"/>
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='css/slickgrid/smoothness/jquery-ui-1.11.3.custom.css' if config.DEBUG else 'css/slickgrid/smoothness/jquery-ui-1.11.3.custom.min.css')}}"/>
    <link type="text/css" rel="stylesheet"
          href="{{ url_for('static', filename='js/codemirror/addon/scroll/simplescrollbars.css')}}"/>

    <!-- View specified stylesheets -->
    {% for stylesheet in current_app.stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ stylesheet }}">
    {% endfor %}

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/overrides.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/pgadmin.css') }}"/>
    {% block css_link %}{% endblock %}

    <!-- Base template scripts -->
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/require.js' if config.DEBUG else 'js/require.min.js') }}"></script>
    <script type="text/javascript">
            require.config({
                baseUrl: '',
                waitSeconds: 0,
                packages: [{
                  name: 'codemirror',
                  location: '{{ url_for('static', filename='js/codemirror')}}',
                  main: 'lib/codemirror'
                },{
                  name: 'slickgrid',
                  location: '{{ url_for('static', filename='js/slickgrid')}}',
                  main: 'slick.core'
                }],
                shim: {
                    "backbone": {
                        "deps": ['underscore', 'jquery'],
                        "exports": 'Backbone'
                    },
                    "backbone.paginator": {
                        "deps": ['underscore', 'jquery', 'backbone']
                    },
                    "bootstrap": {
                        "deps": ['jquery'],
                    },
                    "backgrid": {
                        "deps": ['backform'],
                        "exports": 'Backgrid',
                    },
                    "backgrid.select.all": {
                        "deps": ['backgrid']
                    },
                    "backgrid.paginator": {
                        "deps": ['backgrid', 'backbone.paginator']
                    },
                    "backgrid.filter": {
                        "deps": ['backgrid']
                    },
                    "backgrid.sizeable.columns": {
                        "deps": ['backgrid']
                    },
                    "bootstrap.switch": {
                        "deps": ['jquery', 'bootstrap'],
                        "exports": 'jQuery.fn.bootstrapSwitch'
                    },
                    "select2": {
                        "deps": ['jquery'],
                        "exports": 'jQuery.fn.select2'
                    },
                    "bootstrap.datepicker": {
                        "deps": ['jquery', 'bootstrap'],
                        "exports": 'jQuery.fn.datepicker'
                    },
                    "bootstrap.datetimepicker": {
                        "deps": ['jquery', 'bootstrap', 'moment'],
                        "exports": 'jQuery.fn.datetimepicker'
                    },
                    "pgadmin.backgrid": {
                        "deps": ["backgrid", "bootstrap.datetimepicker", "bootstrap.switch"],
                    },
                    "pgadmin.backform": {
                        "deps": ['backform', "pgadmin.backgrid", "select2"],
                    },
                    "jquery.event.drag": {
                        "deps": ['jquery'], "exports": 'jQuery.fn.drag'
                    },
                    "jquery.ui": {"deps": ['jquery']},
                    "slickgrid": {
                        "deps": [
                            'jquery', "jquery.ui", "jquery.event.drag"
                        ],
                        "exports": 'Slick'
                    },
                    "slickgrid/slick.grid": {
                        "deps": [
                            'jquery', "jquery.ui", "jquery.event.drag", "slickgrid"
                        ],
                        "exports": 'Slick.Grid'
                    },
                    "flotr2": {
                        deps: ['bean'],
                        exports: function(bean) {
                            Flotr.bean = bean;
                            return this.Flotr;
                        }
                    }{% for script in current_app.javascripts %}{% if 'deps' in script or 'exports' in script %},
                    '{{ script.name }}': {
                    {% if 'deps' in script %}"deps": [ {% set comma = False %}{% for dep in script['deps'] %} {% if comma %},{% else %}{% set comma = True %}{% endif %} '{{ dep }}'{% endfor %}],{% endif %}
                        {% if 'exports' in script %}"exports": "{{ script['exports'] }}"{% endif %}
                    }{% endif %}{% endfor %}
                },
                paths: {
                    pgadmin: "{{ url_for('static', filename='js/pgadmin') }}",
                    modernizr: "{{ url_for('static', filename='js/modernizr-2.6.2-respond-1.1.0.min') }}",
                    jquery: "{{ url_for('static', filename='js/' + ('jquery-1.11.2' if config.DEBUG else 'jquery-1.11.2.min')) }}",
                    select2: "{{ url_for('static', filename='js/select2/' + ('select2.full' if config.DEBUG else 'select2.full.min')) }}",
                    moment: "{{ url_for('static', filename='js/moment-with-locales' + ('' if config.DEBUG else '.min')) }}",
                    underscore: "{{ url_for('static', filename='js/' + ('underscore' if config.DEBUG else 'underscore-min')) }}",
                    "underscore.string": "{{ url_for('static', filename='js/' + ('underscore.string' if config.DEBUG else 'underscore.string.min')) }}",
                    bootstrap: "{{ url_for('static', filename='js/' + ('bootstrap' if config.DEBUG else 'bootstrap.min')) }}",
                    alertifyjs: "{{ url_for('static', filename='js/alertifyjs/' + ('alertify' if config.DEBUG else 'alertify.min')) }}",
                    'pgadmin.alertifyjs': "{{ url_for('static', filename='js/alertifyjs/pgadmin.defaults') }}",
                    backbone: "{{ url_for('static', filename='js/' + ('backbone' if config.DEBUG else 'backbone-min')) }}",
                    "backbone.paginator": "{{ url_for('static', filename='js/' + ('backbone.paginator' if config.DEBUG else 'backbone.paginator.min')) }}",
                    "bootstrap.datepicker": "{{ url_for('static', filename='js/bootstrap-datepicker' + ('' if config.DEBUG else '.min')) }}",
                    "bootstrap.datetimepicker": "{{ url_for('static', filename='js/bootstrap-datetimepicker' + ('' if config.DEBUG else '.min')) }}",
                    "bootstrap.switch": "{{ url_for('static', filename='js/' + ('bootstrap-switch' if config.DEBUG else 'bootstrap-switch.min')) }}",
                    backform: "{{ url_for('static', filename='js/backform') }}",
                    backgrid: "{{ url_for('static', filename='js/backgrid/' + ('backgrid' if config.DEBUG else 'backgrid.min')) }}",
                    "backgrid.select.all": "{{ url_for('static', filename='js/backgrid/' + ('backgrid-select-all' if config.DEBUG else 'backgrid-select-all.min')) }}",
                    "backgrid.paginator": "{{ url_for('static', filename='js/backgrid/' + ('backgrid-paginator' if config.DEBUG else 'backgrid-paginator.min')) }}",
                    "backgrid.filter": "{{ url_for('static', filename='js/backgrid/' + ('backgrid-filter' if config.DEBUG else 'backgrid-filter.min')) }}",
                    "backgrid.sizeable.columns": "{{ url_for('static', filename='js/backgrid/backgrid-sizeable-columns') }}",
                    "backbone.undo": "{{ url_for('static', filename='js/' + ('backbone.undo' if config.DEBUG else 'backbone.undo.min')) }}",
                    "pgadmin.backgrid": "{{ url_for('static', filename='js/backgrid/backgrid.pgadmin') }}",
                    'pgadmin.backform': "{{ url_for('static', filename='js/backform.pgadmin') }}",
                    "jquery.event.drag": "{{ url_for('static', filename='js/jquery-ui/jquery.event.drag-2.2') }}",
                    "jquery.ui": "{{ url_for('static', filename='js/jquery-ui/jquery-ui-1.11.3' if config.DEBUG else 'js/jquery-ui/jquery-ui-1.11.3.min') }}",
                    bean :"{{ url_for('static', filename='js/flotr2/' + ('bean' if config.DEBUG else 'bean-min')) }}",
                    flotr2 :"{{ url_for('static', filename='js/flotr2/flotr2.amd') }}"{% for script in current_app.javascripts %},
                    '{{ script.name }}': "{{ script.path }}"{% endfor %}
                }
            });

    </script>
    <!-- View specified scripts -->

</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

{% block body %}{% endblock %}
<script>
            {% block init_script %}{% endblock %}

</script>

</body>
</html>
