<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- To set pgAdmin4 shortcut icon in browser -->
    <link rel="shortcut icon" href="{{ url_for('redirects.favicon') }}"/>

    <!-- Base template stylesheets -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='js/generated/style.css')}}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='js/generated/pgadmin.style.css')}}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename=('js/generated/'+get_theme_css())) }}"/>

     <!--View specified stylesheets-->
    {% block css_link %}{% endblock %}

    <script>
        /* This is used to change publicPath of webpack at runtime */
        window.getChunkURL = function() {
            return "{{ url_for('static', filename='js') }}/generated/";
        };
    </script>
    <!-- Base template scripts -->
    <script type="text/javascript"
            src="{{ url_for('static', filename='vendor/require/require.js' if config.DEBUG else 'vendor/require/require.min.js') }}"></script>
    <script type="text/javascript">
            require.config({
                baseUrl: '',
{% if config.APP_VERSION_PARAM is not none and config.APP_VERSION_PARAM != '' %}
                urlArgs: '{{config.APP_VERSION_PARAM}}={{config.APP_VERSION_INT}}',
{% endif %}
                waitSeconds: 0,
                shim: {},
                paths: {
                    sources: "{{ url_for('static', filename='js') }}",
                    datagrid: "{{ url_for('static', filename='js/generated/datagrid') }}",
                    sqleditor: "{{ url_for('static', filename='js/generated/sqleditor') }}",
                    'pgadmin.browser.utils': "{{ url_for('browser.index') }}" + "js/utils",
                    'pgadmin.browser.endpoints': "{{ url_for('browser.index') }}" + "js/endpoints",
                    'pgadmin.browser.messages': "{{ url_for('browser.index') }}" + "js/messages",
                    'pgadmin.server.supported_servers': "{{ url_for('browser.index') }}" + "server/supported_servers",
                    'pgadmin.user_management.current_user': "{{ url_for('user_management.index') }}" + "current_user",
                    'translations': "{{ url_for('tools.index') }}" + "translations"
                }
            });

    </script>

    <!-- View specified scripts -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/generated/vendor.main.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/generated/vendor.others.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/generated/pgadmin_commons.js') }}" ></script>

</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

{% block body %}{% endblock %}
<script>
            {% block init_script %}{% endblock %}

</script>

</body>
</html>
