.icon-foreign_key {
  background-image: url('{{ url_for('NODE-foreign_key.static', filename='img/foreign_key.svg') }}') !important;
  background-repeat: no-repeat;
  background-size: 20px !important;
  align-content: center;
  vertical-align: middle;
  height: 1.3em;
}

.icon-foreign_key_no_validate {
  background-image: url('{{ url_for('NODE-foreign_key.static', filename='img/foreign_key_no_validate.svg') }}') !important;
  background-repeat: no-repeat;
  background-size: 20px !important;
  align-content: center;
  vertical-align: middle;
  border-radius: 10px;
  height: 1.3em;
}
