.icon-foreign_key {
  background-image: url('{{ url_for('NODE-foreign_key.static', filename='img/foreign_key.png') }}') !important;
  background-repeat: no-repeat;
  align-content: center;
  vertical-align: middle;
  height: 1.3em;
}

.icon-foreign_key_no_validate {
  background-image: url('{{ url_for('NODE-foreign_key.static', filename='img/foreign_key_no_validate.png') }}') !important;
  border-radius: 10px
}