.icon-rule{
  background-image: url('{{ url_for('NODE-rule.static', filename='img/rule.svg') }}') !important;
  border-radius: 10px;
  background-size: 20px !important;
  background-repeat: no-repeat;
  align-content: center;
  vertical-align: middle;
  height: 1.3em;
}
