.user_management .search_users form {
  margin: 0;
}

.user_management table {
  display: block;
  height: 100%;
  overflow: auto;
  border: 0 none;
}

.user_management .backform-tab {
  height: calc(100% - 75px);
}

.user_management .search_users {
  float:right;
  margin-right: 5px;
  padding:0 !important;
}

.user_management .search_users input{
  height:15px;
  margin-top: 3px;
}

.user_management .user_container {
height: calc(100% - 35px);
}

.user_management input[placeholder] {
  font-size: 12px;
}

.user_management_pg-alertify-button {
  line-height: 16px;
}
