.explain-tooltip {
  display: table-cell;
  text-align: left;
  white-space: nowrap;
  padding: 2px !important;
  font-size: small;
}

td.explain-tooltip-val {
  display: table-cell;
  text-align: left;
  white-space: pre-wrap;
  padding: 2px !important;
  font-size: small;
  font-weight: normal;
}

.pgadmin-tooltip-table {
  border-collapse: collapse;
  border-spacing: 1px;
  top: auto;
  left: auto;
}
