.dashboard-container {
    padding: 15px;
}

.dashboard-row {
    margin-bottom: 15px;
}

.dashboard-link {
    text-align: center;
}

.dashboard-link a {
    cursor: pointer;
}

.dashboard-icon {
    color: black;
}

.dashboard-tab-container {
    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
}

.dashboard-tab-panel > li > a {
    padding: 0px 15px !important;
}

.dashboard-tab {
    border: 0px;
    border-radius: 4px 4px 0px 0px;
    margin-right: 1px;
    font-size: 13px;
    line-height: 25px;
    margin-top: 5px;
}

.dashboard-tab.active {
    margin-top: 0px;
    line-height: 30px;
}

.dashboard-tab-btn-group {
    background-color: #D2D2D2;
    border: 2px solid #A9A9A9;
    left: 0px;
    right: 0px;
    padding: 2px;
}

.dashboard-tab-btn-group button {
    padding: 5px;
}

.dashboard-tab-btn-group > button {
    margin: 2px 3px 2px 0px;
    min-width: 40px;
}

.dashboard-tab-btn-group > button:first-child {
    margin-left: 3px;
}

.dashboard-tab-btn-group > button:last-child {
    margin-right: 3px;
}

.graph-container {
    margin-top: 10px;
    height: 150px;
}

.graph-error {
    background-color: #E2E2E2;
    padding-top: 20px
}

.grid-error {
    background-color: #E2E2E2;
    padding-top: 20px;
    padding-bottom: 40px;
}

.icon-postgres:before {
    height: 43px;
    margin-top: 13px;
    display: block;
}

/* CSS to make subnode control look preety in backgrid - START */
.dashboard-tab-container .subnode-dialog .form-control {
    font-size: inherit;
}

#server_activity .CodeMirror,
#database_activity .CodeMirror,
#server_activity .CodeMirror-scroll,
#database_activity .CodeMirror-scroll {
    height: auto;
    max-height:100px;
}

.dashboard-tab-container .sub-node-form > ul.tab-content {
  padding-left: 0px;
  left: 0px;
}

.dashboard-tab-container .sub-node-form > ul.pg-el-sm-12,
.dashboard-tab-container .sub-node-form > ul.pg-el-md-12,
.dashboard-tab-container .sub-node-form > ul.pg-el-lg-12,
.dashboard-tab-container .sub-node-form > ul.pg-el-xs-12 {
  padding: 0px;
}

.dashboard-tab-container .subnode-dialog {
  background-color: white;
  border: 0px solid #e8e8e8;
}

.dashboard-tab-container .subnode-dialog .control-label {
  font-weight: inherit;
}

.dashboard-tab-container .sub-node-form {
  padding: 0px 0px 0px 1px;
  background-color: #f8f8f8;
}

.dashboard-tab-container .subnode-body {
  background-color: #f8f8f8;
}

.dashboard-tab-container .sub-node-form > .nav-tabs {
  background-color: #f8f8f8 !important;
}

.dashboard-tab-container .subnode-dialog .nav > li > a {
  font-weight: bold;
  border-color: #f8f8f8;
}

.dashboard-tab-container .subnode-dialog .nav-tabs > li.active > a,
.dashboard-tab-container .subnode-dialog .nav-tabs > li.active > a:hover {
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  margin-bottom: -1px;
  z-index: 10;
}

.dashboard-tab-container .backgrid .editor {
  background-color: #f8f8f8 !important;
  border-bottom-color: #f8f8f8;
}

.dashboard-tab-container .backgrid.presentation td.editable:not(.edit-cell) {
  padding-right: 25px
}

.dashboard-tab-container .subnode-dialog .pgadmin-control-group {
  padding: 5px;
}

.dashboard-tab-container .subnode-dialog .tab-pane {
  border: 1px solid #cccccc;
}

.dashboard-container .delete-cell .fa-times-circle:before {
  font-size: 14px;
}

.dashboard-tab-container .pg-el-container[el=sm] .pg-el-sm-12 {
    margin-bottom: 0%;
}

.dashboard-hidden {
  display: none;
}
