.dashboard-container {
    padding: 15px;
}

.dashboard-header-spacer {
    padding-top: 15px;
}

.dashboard-link {
    text-align: center;
}

.dashboard-link a {
    cursor: pointer;
}

.dashboard-icon {
    color: black;
}

.dashboard-tab-container {
    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
}

.dashboard-tab-panel > li > a {
    padding: 0px 15px !important;
}

.dashboard-tab {
    border: 0px;
    border-radius: 4px 4px 0px 0px;
    margin-right: 1px;
    font-size: 13px;
    line-height: 25px;
    margin-top: 5px;
}

.dashboard-tab.active {
    margin-top: 0px;
    line-height: 30px;
}

.dashboard-tab-btn-group {
    background-color: #D2D2D2;
    border: 2px solid #A9A9A9;
    left: 0px;
    right: 0px;
    padding: 2px;
}

.dashboard-tab-btn-group button {
    padding: 5px;
}

.dashboard-tab-btn-group > button {
    margin: 2px 3px 2px 0px;
    min-width: 40px;
}

.dashboard-tab-btn-group > button:first-child {
    margin-left: 3px;
}

.dashboard-tab-btn-group > button:last-child {
    margin-right: 3px;
}

.graph-container {
    margin-top: 10px;
    height: 150px;
}

.graph-error {
    background-color: #E2E2E2;
    padding-top: 20px
}

.grid-error {
    background-color: #E2E2E2;
    padding-top: 20px;
    padding-bottom: 40px;
}
