$color-bg: $white;
$color-fg: #222222;
$color-primary: #326690;
$color-primary-fg: $white;
$color-primary-light: #d6effc;
$color-primary-light-fg: $color-primary;
$color-secondary: $white;
$color-ternary: #5b6d7c;
$color-ternary-fg: $white;
$color-danger: #e53935;
$color-danger-fg: $white;
$color-danger-light: #F39999;
$color-danger-lighter: #FAECEC;
$color-success: #43a047;
$color-success-fg: $black;
$color-success-light: #DDF1DE;
$color-warning: #eea236;
$color-warning-fg: $black;
$color-warning-light: #fce5c5;;
$color-gray-dark: #848ea0;
$color-gray: #bac1cd;
$color-gray-light: #ebeef3;
$color-gray-lighter: #f3f5f9;
$color-brand: $color-primary;
$border-color: #dde0e6;
$shadow-base-color: $color-gray-dark;
$text-muted: $color-gray-dark;
$header-bg: $color-bg;
$alert-primary-bg: $color-primary-light !default;
$alert-primary-color: $color-primary !default;
$alert-danger-bg: $color-danger-lighter !default;
$alert-danger-color: $color-danger !default;
$alert-success-bg: $color-success-light !default;
$alert-success-color: $color-success !default;
$negative-bg: $color-gray-light;
$popover-bg: $color-gray-dark;
$popover-body-color: $white;
$table-hover-color: #000;
$input-bg: $white;
$input-color: $color-fg;
$input-border-color: $border-color;
$input-disabled-bg: $color-gray-lighter;
$color-editor-fg: $input-color;
$color-editor-keyword: #908;
$color-editor-number: #964;
$color-editor-string: #a11;
$color-editor-variable: $color-fg;
$color-editor-variable-2: #05a;
$color-editor-builtin: #30a;
$color-editor-comment: #a50;
$color-editor-bracket: #997;
$color-editor-operator: $color-fg;
$color-editor-foldmarker: #0000FF;
$color-editor-activeline: #50B0F0;
$active-color: $color-primary;
$table-bg: $color-bg;
$explain-sev-2-bg: #FFEE88;
$explain-sev-3-bg: #EE8800;
$explain-sev-4-bg: #880000;
$explain-sev-3-color: #FFFFFF;
$explain-sev-4-color: #FFFFFF;
$btn-ternary-border: $color-ternary;
$btn-ternary-hover-bg: darken($color-ternary, 7.5%);
$scrollbar-base-color: #bac1cd;
$loader-icon : url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 38 38' style='enable-background:new 0 0 38 38;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:none;stroke:%23ebeef3;stroke-width:2;%7d .st1%7bfill:none;stroke:%23326690;stroke-width:2;%7d %3c/style%3e%3cg%3e%3cg transform='translate(1 1)'%3e%3ccircle class='st0' cx='18' cy='18' r='18'/%3e%3cpath class='st1' d='M36,18c0-9.9-8.1-18-18-18 '%3e%3canimateTransform accumulate='none' additive='replace' attributeName='transform' calcMode='linear' dur='0.7s' fill='remove' from='0 18 18' repeatCount='indefinite' restart='always' to='360 18 18' type='rotate'%3e%3c/animateTransform%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e ");
$loader-icon-small: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 23.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 38 38' style='enable-background:new 0 0 38 38;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23EBEEF3;stroke-width:5;%7D .st1%7Bfill:none;stroke:%23326690;stroke-width:5;%7D%0A%3C/style%3E%3Cg%3E%3Cg transform='translate(1 1)'%3E%3Ccircle class='st0' cx='18' cy='18' r='16'/%3E%3Cpath class='st1' d='M34,18c0-8.8-7.2-16-16-16 '%3E%3CanimateTransform accumulate='none' additive='replace' attributeName='transform' calcMode='linear' dur='0.7s' fill='remove' from='0 18 18' repeatCount='indefinite' restart='always' to='360 18 18' type='rotate'%3E%3C/animateTransform%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
$schemadiff-diff-row-color: #fff9c4;
$schemadiff-source-row-color: #ffebee;
$schemadiff-target-row-color: #fbe3bf;
