[python: **.py]
[jinja2: **/templates/**.html]
[jinja2: **/templates/**.sql]
[ignore: **/vendor/**.js]
[javascript: **/static/**.js]
[javascript: **/static/**.jsx]
[javascript: **/templates/**/js/**.js]
[jinja2: **/templates/**.js]
